Repository PIVX-Project/PIVX, pull requests merged in 2018-06, with the labels that each got.

#626 [Qt] Add Tor service icon to status bar
  src/Makefile.qt.include
  src/qt/bitcoingui.cpp
  src/qt/bitcoingui.h
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/qt/pivx.qrc
  src/qt/res/icons/onion.png
Labels: GUI, review

#629 [Qt] Remove useless help button from QT dialogs (windows)
  src/qt/addressbookpage.cpp
  src/qt/askpassphrasedialog.cpp
  src/qt/bip38tooldialog.cpp
  src/qt/coincontroldialog.cpp
  src/qt/intro.cpp
  src/qt/multisenddialog.cpp
  src/qt/multisigdialog.cpp
  src/qt/obfuscationconfig.cpp
  src/qt/openuridialog.cpp
  src/qt/optionsdialog.cpp
  src/qt/privacydialog.cpp
  src/qt/receivecoinsdialog.cpp
  src/qt/receiverequestdialog.cpp
  src/qt/rpcconsole.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/signverifymessagedialog.cpp
  src/qt/transactiondescdialog.cpp
  src/qt/utilitydialog.cpp
  src/qt/zpivcontroldialog.cpp
Labels: GUI, Windows, review

#625 [Wallet] Add some LOCK to avoid crash
  src/wallet.cpp
Labels: Wallet, review

#639 [Travis] Add separate job to check doc/logprint/subtree
  .travis.yml
  contrib/devtools/git-subtree-check.sh
  contrib/devtools/lint-whitespace.sh
Labels: Scripts and Tools, review

#636 [Main] Write to the zerocoinDB in batches
  src/main.cpp
  src/txdb.cpp
  src/txdb.h
  src/zpivchain.cpp
Labels: Needs Release Notes, Refactoring, UTXO DBs and Indexes, review, zPiv
