Repository PIVX-Project/PIVX, pull requests merged in 2018-10, with the labels that each got.

#721 [RPC] Fix movecmd's help description to include amount
  src/rpcwallet.cpp
Labels: RPC, review

#722 [RPC] Add more verbosity to validateaddress
  src/rpc/misc.cpp
Labels: MultiSig, Needs Release Notes, RPC, review

#723 [RPC] Error when calling getreceivedbyaddress with non-wallet address
  src/rpcwallet.cpp
Labels: Needs Release Notes, RPC, review

#724 [RPC] Ensure that a numeric is being passed to AmmountFromValue
  src/rpc/server.cpp
Labels: NoFunctionalChanges, RPC, review

#731 [zPIV] Fix bignum overloads when using OpenSSL
  src/libzerocoin/bignum.h
Labels: Refactoring, review, zPiv

#734 [Staking] Ensure nCredit is correctly initialized in CreateCoinStake
  src/wallet.cpp
Labels: review

#735 [Qt] Stop using dummy strings in clientversion.cpp
  src/clientversion.cpp
Labels: Cleanup, GUI, review

#733 [GUI] Hide orphans
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/qt/overviewpage.cpp
  src/qt/overviewpage.h
  src/qt/transactionfilterproxy.cpp
  src/qt/transactionfilterproxy.h
  src/qt/transactionview.cpp
  src/qt/transactionview.h
Labels: GUI, Needs Release Notes, review

#736 [Utils] Update linters for python3
  contrib/devtools/check-doc.py
  contrib/devtools/lint-whitespace.sh
  contrib/devtools/logprint-scanner.py
Labels: Scripts and Tools, review

#726 [RPC] include mints metadata in 'listmintedzerocoins' output
  src/rpc/client.cpp
  src/rpcwallet.cpp
Labels: Needs Release Notes, RPC, review, zPiv

#727 [RPC] Add 'spendzerocoinmints' RPC call
  src/rpc/client.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/rpcwallet.cpp
Labels: Needs Release Notes, RPC, review, zPiv

#729 [RPC] Fix RPCTimerInterface
  src/httprpc.cpp
  src/qt/rpcconsole.cpp
  src/rpc/server.cpp
  src/rpc/server.h
Labels: RPC, review

#740 [Net] Pull uacomment in from upstream
  src/init.cpp
  src/main.cpp
  src/net.cpp
  src/net.h
  src/rpc/net.cpp
  src/utilstrencodings.cpp
  src/utilstrencodings.h
Labels: Network, Upstream, review

#741 [GUI] Sort by 'data' in zPIV and coin control dialogs
  src/qt/bitcoingui.h
  src/qt/coincontroldialog.cpp
  src/qt/coincontroldialog.h
  src/qt/forms/coincontroldialog.ui
  src/qt/zpivcontroldialog.cpp
  src/qt/zpivcontroldialog.h
Labels: GUI, Refactoring, review

#742 [RPC] Add masternode's pubkey to listmasternodes RPC
  src/rpc/masternode.cpp
Labels: Masternode, RPC, review

#743 [Refactor] remove CPubKey::GetHex
  src/blocksignature.cpp
  src/pubkey.h
Labels: Refactoring, review

#750 [RPC] Add mediantime to getblock/getblockheader output
  src/rpc/blockchain.cpp
Labels: Needs Release Notes, RPC, review

#751 [RPC] Show the configured/set txfee in getwalletinfo
  src/rpcwallet.cpp
Labels: Needs Release Notes, RPC, review

#760 [RPC] Show BIP65 soft-fork progress in getblockchaininfo
  src/rpc/blockchain.cpp
Labels: RPC, review
