Repository PIVX-Project/PIVX, pull requests merged in 2020-09, with the labels that each got.

#1810 Wallet: wtx cached balances test coverage + getAvailableCredit problem fix.
  src/activemasternode.cpp
  src/interface/wallet.cpp
  src/qt/walletmodel.cpp
  src/rpc/misc.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/wallet_zerocoin.cpp
Labels: Bug, Tests, Wallet

#1823 [Travis] Lower the build timeout for the functional tests job
  .travis.yml
Labels: Scripts and Tools, Tests

#1820 sporks: remove unneeded chainActive access.
  src/spork.cpp
Labels: Cleanup

#1822 [Refactor] Dedicated logging category for masternode pings
  src/logging.h
  src/masternode.cpp
  src/masternodeman.cpp
Labels: Refactoring, Util / log / libs

#1821 [Cleanup] removing unused GetMasternodeByRank method
  src/masternodeman.cpp
  src/masternodeman.h
Labels: Cleanup, Masternode

#1801 [Core] Per-txout model for chainstate database
  src/coins.cpp
  src/coins.h
  src/consensus/tx_verify.cpp
  src/consensus/zerocoin_verify.cpp
  src/init.cpp
  src/main.cpp
  src/main.h
  src/miner.cpp
  src/pivx-tx.cpp
  src/policy/policy.cpp
  src/qt/transactiondesc.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/test/coins_tests.cpp
  src/test/script_P2SH_tests.cpp
  src/test/transaction_tests.cpp
  src/txdb.cpp
  src/txdb.h
  src/txmempool.cpp
  src/txmempool.h
  src/undo.h
Labels: Resource usage, UTXO DBs and Indexes, Upstream

#1827 [Cleanup] CMasternodePing: removed null check comparison against a new object.
  src/masternode.cpp
  src/masternode.h
  src/rpc/masternode.cpp
Labels: Cleanup, Masternode

#1828 [RPC][BUG] Fix ActivateBestChain calls in reconsider(invalidate)block
  src/rpc/blockchain.cpp
Labels: Bug, RPC

#1817 [Wallet] Speedup coinstake creation removing redundancies.
  src/wallet/wallet.cpp
Labels: Cleanup, Refactoring

#1824 cleanup: IsBlockValueValid refactored properly.
  src/main.cpp
  src/masternode-payments.cpp
  src/masternode-payments.h
Labels: Cleanup, Masternode

#1835 [Net] Massive network refactoring and speedup
  src/Makefile.am
  src/Makefile.test.include
  src/addrman.cpp
  src/addrman.h
  src/chainparams.h
  src/init.cpp
  src/main.cpp
  src/main.h
  src/masternode-budget.cpp
  src/masternode-payments.cpp
  src/masternode-sync.cpp
  src/masternodeman.cpp
  src/net.cpp
  src/net.h
  src/netmessagemaker.h
  src/protocol.cpp
  src/protocol.h
  src/rpc/net.cpp
  src/serialize.h
  src/spork.cpp
  src/streams.h
  src/test/DoS_tests.cpp
  src/test/addrman_tests.cpp
  src/test/net_tests.cpp
  src/test/serialize_tests.cpp
  src/test/streams_tests.cpp
  src/test/test_pivx.cpp
Labels: Network, P2P, Upstream

#1831 [RPC] re introducing filtering args in getbalance
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Cleanup, Needs Release Notes, RPC, Wallet

#1833 [Refactor] Remove GetInputAge and GetMasternodeInputAge
  src/coins.cpp
  src/coins.h
  src/main.cpp
  src/main.h
  src/masternode.cpp
  src/masternode.h
  src/masternodeman.cpp
  src/swifttx.cpp
Labels: Bug, Masternode, Refactoring

#1818 [Miner] PoS process, calculate stakeable utxo only once.
  src/miner.cpp
  src/miner.h
  src/rpc/mining.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Block Generation, Refactoring

#1826 [Refactor] Masternode Budget first refactoring and cleanup
  src/init.cpp
  src/main.cpp
  src/main.h
  src/masternode-budget.cpp
  src/masternode-budget.h
  src/masternode-payments.cpp
  src/masternode-sync.cpp
  src/masternode-sync.h
  src/masternodeman.cpp
  src/masternodeman.h
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/rpc/blockchain.cpp
  src/rpc/budget.cpp
Labels: Cleanup, Masternode, Refactoring

#1843 [Bug] Update budget manager best height even if mnSync is incomplete
  src/main.cpp
Labels: Bug, Masternode

#1825 [MN] more cleanup over the tier two area.
  src/masternode-payments.cpp
  src/masternode-payments.h
  src/masternode-sync.cpp
  src/masternode.cpp
  src/masternode.h
  src/masternodeman.cpp
Labels: Cleanup, Masternode

#1841 [Wallet] Lock Sapling wallet functionality to regtest only for now.
  src/Makefile.test.include
  src/init.cpp
  src/qt/walletmodel.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet

#1847 [Build] Prepare for 4.3.0 release
  .tx/config
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  src/qt/locale/pivx_en.ts
  src/qt/pivxstrings.cpp
Labels: Build System, Trivial

#1837 Use Optional template in guiinterface.h
  src/guiinterface.h
Labels: Cleanup, Trivial

#1853 [Cleanup] Removing unused and unneeded functions and members
  src/Makefile.qt.include
  src/main.cpp
  src/miner.cpp
  src/qt/CMakeLists.txt
  src/qt/guiconstants.h
  src/qt/transactiondesc.cpp
  src/qt/transactiondesc.h
  src/qt/transactionrecord.cpp
  src/qt/transactionrecord.h
  src/qt/transactiontablemodel.cpp
  src/qt/transactiontablemodel.h
  src/swifttx.cpp
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Cleanup, GUI, Wallet

#1842 [Refactoring] Faster mn Check() - remove AcceptableInputs
  src/main.cpp
  src/main.h
  src/masternode.cpp
Labels: Masternode, Refactoring

#1855 [Bug] wrong reserveKey when committing budget/proposal collaterals
  src/masternode-budget.cpp
  src/rpc/budget.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Budget/Proposal System, Bug, Refactoring, Wallet

#1830 [Refactor] Emplace elements in maps and vectors
  src/activemasternode.cpp
  src/allocators.h
  src/bench/bench.cpp
  src/chainparams.cpp
  src/consensus/zerocoin_verify.cpp
  src/denomination_functions.cpp
  src/httpserver.cpp
  src/init.cpp
  src/legacy/stakemodifier.cpp
  src/main.cpp
  src/masternode-budget.cpp
  src/masternode-sync.cpp
  src/masternode.cpp
  src/masternodeman.cpp
  src/merkleblock.cpp
  src/miner.cpp
  src/net.cpp
  src/net.h
  src/netbase.cpp
  src/qt/peertablemodel.cpp
  src/qt/walletmodel.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/scheduler.cpp
  src/script/sign.cpp
  src/script/standard.cpp
  src/stakeinput.cpp
  src/swifttx.cpp
  src/sync.cpp
  src/test/bip32_tests.cpp
  src/test/main_tests.cpp
  src/test/pmt_tests.cpp
  src/test/sighash_tests.cpp
  src/test/transaction_tests.cpp
  src/test/zerocoin_denomination_tests.cpp
  src/wallet/db.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet_zerocoin.cpp
  src/wallet/walletdb.cpp
  src/zmq/zmqpublishnotifier.cpp
  src/zpiv/zpivtracker.cpp
  src/zpivchain.cpp
Labels: Refactoring

#1819 [Wallet] Address book encapsulation.
  src/init.cpp
  src/qt/addresstablemodel.cpp
  src/qt/walletmodel.cpp
  src/rpc/misc.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
Labels: Refactoring, Wallet

#1814 Sapling transaction primitive data.
  src/Makefile.am
  src/main.cpp
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/sapling/proof.cpp
  src/sapling/proof.hpp
  src/sapling/sapling_transaction.h
  src/script/interpreter.cpp
  src/script/interpreter.h
  src/serialize.h
Labels: Sapling, Upstream ZCash, Wallet

#1860 Missing mnping category added to logcategories
  src/logging.cpp
Labels: Needs Backport, Trivial, Util / log / libs

#1863 [Trivial][GUI] Fix init messages
  src/init.cpp
Labels: GUI, Needs Backport, Trivial, UTXO DBs and Indexes

#1857 [GUI] do not decode the address twice in save contact.
  src/qt/pivx/addresseswidget.cpp
  src/qt/pivx/send.cpp
Labels: GUI, Refactoring

#1815 Make CBlock a vector of shared_ptr of CTransactions
  src/blocksignature.cpp
  src/chainparams.cpp
  src/consensus/merkle.cpp
  src/consensus/zerocoin_verify.cpp
  src/kernel.cpp
  src/main.cpp
  src/masternode-payments.cpp
  src/merkleblock.cpp
  src/miner.cpp
  src/primitives/block.cpp
  src/primitives/block.h
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/serialize.h
  src/test/main_tests.cpp
  src/test/mempool_tests.cpp
  src/test/merkle_tests.cpp
  src/test/pmt_tests.cpp
  src/test/policyestimator_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet_zerocoin.cpp
  src/zpivchain.cpp
Labels: Block Generation, Refactoring, Upstream

#1869 [RPC] Update univalue and unify JSON obj pushes
  .travis/lint_06_script.sh
  contrib/devtools/commit-script-check.sh
  src/masternode-budget.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/budget.cpp
  src/rpc/masternode.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/protocol.cpp
  src/rpc/rawtransaction.cpp
  src/univalue/.travis.yml
  src/univalue/Makefile.am
  src/univalue/README.md
  src/univalue/gen/gen.cpp
  src/univalue/include/univalue.h
  src/univalue/lib/univalue.cpp
  src/univalue/lib/univalue_get.cpp
  src/univalue/lib/univalue_read.cpp
  src/univalue/lib/univalue_utffilter.h
  src/univalue/lib/univalue_write.cpp
  src/univalue/test/fail45.json
  src/univalue/test/object.cpp
  src/univalue/test/pass4.json
  src/univalue/test/unitester.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
Labels: RPC, Upstream

#1856 [CMake] Add test_pivx unit test target
  CMakeLists.txt
  contrib/devtools/gen-json-headers.sh
  src/test/CMakeLists.txt
Labels: Build System

#1866 [Refactor] Decouple peer-processing from block-connection logic
  src/init.cpp
  src/main.cpp
  src/main.h
  src/miner.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/test/miner_tests.cpp
  src/validationinterface.cpp
  src/validationinterface.h
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqnotificationinterface.h
Labels: P2P, Refactoring, Upstream

#1874 [GUI] Update translations for 4.3.0
  src/qt/locale/pivx_de.ts
  src/qt/locale/pivx_en.ts
  src/qt/locale/pivx_en_US.ts
  src/qt/locale/pivx_es.ts
  src/qt/locale/pivx_es_ES.ts
  src/qt/locale/pivx_fr_FR.ts
  src/qt/locale/pivx_hr_HR.ts
  src/qt/locale/pivx_it.ts
  src/qt/locale/pivx_ko_KR.ts
  src/qt/locale/pivx_nl.ts
  src/qt/locale/pivx_pl.ts
  src/qt/locale/pivx_ru.ts
  src/qt/locale/pivx_tr.ts
  src/qt/locale/pivx_zh_CN.ts
  src/qt/pivxstrings.cpp
Labels: GUI

#1876 [Doc] 4.3.0 Release Notes
  doc/release-notes.md
Labels: Documentation

#1875 BugFix: tx sync parsing problem fixed + extra refactoring.
  src/main.h
  src/primitives/block.h
  src/primitives/transaction.h
  src/streams.h
  src/test/mempool_tests.cpp
  src/test/merkle_tests.cpp
  src/test/policyestimator_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
Labels: Bug, Validation

#1877 [Misc] Fixing recurrent compiler warnings
  src/main.cpp
  src/main.h
  src/rpc/blockchain.cpp
Labels: Cleanup

#1844 [Refactoring] Budget, round 2: review locks
  src/masternode-budget.cpp
  src/masternode-budget.h
  src/rpc/budget.cpp
Labels: Budget/Proposal System, Refactoring
