Repository PIVX-Project/PIVX, pull requests merged in 2020-10, with the labels that each got.

#1882 [Build][Doc] Post branch-off/release maintenance
  build-aux/snap/snapcraft.yaml
  configure.ac
  doc/release-notes.md
  doc/release-notes/release-notes-4.3.0.md
Labels: Build System, Documentation, NoFunctionalChanges, Trivial

#1867 BugFix: g_IsSaplingActive flag is not initialized at startup.
  src/validation.cpp
Labels: Bug, Sapling

#1883 [Build] Clean lcov artifacts from all paths
  src/Makefile.am
  src/Makefile.qt.include
Labels: Build System

#1868 [wallet] GetMasternodeVinAndKeys wasn't locking cs_wallet to obtain the collateral.
  src/wallet/wallet.cpp
Labels: Bug, Masternode, Wallet

#1879 [BugFix] Migrate list serialization to the current flow.
  src/serialize.h
Labels: Bug

#1888 [BUG] Fix regression with emplace_back on cold-staking scripts
  src/script/standard.cpp
Labels: Bug, Cold Staking

#1889 [Test] unit test checking cold staking script key extraction.
  src/Makefile.test.include
  src/test/CMakeLists.txt
  src/test/script_P2CS_tests.cpp
Labels: Cold Staking, Tests

#1881 [GUI] Autocomplete 'help' PRC commands in UI Consoles
  src/qt/pivx/settings/settingsconsolewidget.cpp
  src/qt/rpcconsole.cpp
Labels: GUI, RPC, Upstream

#1894 [RPC][BUG] Fix 'mnfinalbudget show' returning a single budget
  src/rpc/budget.cpp
Labels: Budget/Proposal System, Bug, Needs Release Notes, RPC

#1870 [Sapling] Incremental merkle tree backport.
  CMakeLists.txt
  src/Makefile.am
  src/Makefile.test.include
  src/init.cpp
  src/sapling/address.cpp
  src/sapling/incrementalmerkletree.cpp
  src/sapling/incrementalmerkletree.hpp
  src/sapling/note.cpp
  src/sapling/noteencryption.cpp
  src/sapling/sapling_util.cpp
  src/sapling/sapling_util.h
  src/test/CMakeLists.txt
  src/test/convertbits_tests.cpp
  src/test/data/merkle_commitments_sapling.json
  src/test/data/merkle_path_sapling.json
  src/test/data/merkle_roots_sapling.json
  src/test/data/merkle_serialization_sapling.json
  src/test/data/merkle_witness_serialization_sapling.json
  src/test/librust/json_test_vectors.h
  src/test/librust/libsapling_utils_tests.cpp
  src/test/librust/merkletree_tests.cpp
  src/test/librust/noteencryption_tests.cpp
  src/test/librust/sapling_keystore_tests.cpp
  src/test/librust/sapling_note_tests.cpp
  src/test/librust/wallet_zkeys_tests.cpp
  src/test/librust/zip32_tests.cpp
  src/test/serialize_tests.cpp
  src/wallet/test/wallet_test_fixture.cpp
Labels: Sapling, Tests, Upstream ZCash

#1871 [Sapling] Note Encryption unit tests back ported.
  src/sapling/note.cpp
  src/sapling/note.hpp
  src/test/librust/noteencryption_tests.cpp
  src/test/librust/sapling_note_tests.cpp
Labels: Sapling, Tests, Upstream ZCash

#1890 [BUG][Script] Add fColdStaking boolean argument to IsSolvable
  src/script/sign.cpp
  src/script/sign.h
  src/wallet/wallet.cpp
Labels: Bug, Cold Staking, Wallet

#1895 [BUG][GUI] Fix wallet crashing on faq-buttons press
  src/qt/pivx/dashboardwidget.cpp
  src/qt/pivx/masternodeswidget.cpp
  src/qt/pivx/pivxgui.cpp
  src/qt/pivx/pivxgui.h
  src/qt/pivx/settings/settingsfaqwidget.cpp
  src/qt/pivx/settings/settingsfaqwidget.h
  src/qt/pivx/settings/settingswidget.cpp
Labels: Bug, GUI, Needs Backport

#1887 [Test] Updating and enabling bip32 unit test
  src/Makefile.test.include
  src/key_io.cpp
  src/key_io.h
  src/test/CMakeLists.txt
  src/test/bip32_tests.cpp
Labels: Tests

#1848 [Bug] Fix misaligned height in calls to GetBlockValue
  src/masternode-budget.cpp
  src/masternode-payments.cpp
  src/miner.cpp
  src/test/main_tests.cpp
  src/validation.cpp
Labels: Block Generation, Bug

#1891 [BUG] Set budget best height before reading budget DB during init
  src/init.cpp
Labels: Budget/Proposal System, Bug, Needs Backport, Startup

#1850 [wallet] Extra GetTransaction call in stakeable coins selection flow removed.
  src/kernel.cpp
  src/legacy/stakemodifier.cpp
  src/miner.cpp
  src/miner.h
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/stakeinput.cpp
  src/stakeinput.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zpiv/zpos.cpp
  src/zpiv/zpos.h
Labels: Block Generation, Refactoring, Wallet

#1885 [Test] Update sighash tests for shielded transactions.
  src/test/sighash_tests.cpp
Labels: Sapling, Tests, Upstream ZCash

#1886 [Masternodes] dead end over the activation process.
  src/masternode.cpp
  src/masternode.h
Labels: Bug, Masternode

#1901 [Backport] test: remove glibc fdelt sanity check
  src/compat/glibc_sanity.cpp
Labels: Build System

#1884 [Wallet] Sapling keys management final round.
  src/chainparams.cpp
  src/chainparams.h
  src/crypter.h
  src/keystore.cpp
  src/keystore.h
  src/logging.cpp
  src/logging.h
  src/rpc/client.cpp
  src/sapling/address.cpp
  src/sapling/address.hpp
  src/sapling/crypter_sapling.cpp
  src/sapling/key_io_sapling.cpp
  src/sapling/key_io_sapling.h
  src/sapling/saplingscriptpubkeyman.cpp
  src/sapling/saplingscriptpubkeyman.h
  src/sapling/zip32.cpp
  src/sapling/zip32.h
  src/test/librust/sapling_key_tests.cpp
  src/test/librust/sapling_keystore_tests.cpp
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/test/librust/wallet_zkeys_tests.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: RPC, Sapling, Tests, Upstream ZCash, Wallet

#1905 [Cleanup] removing unused mapRelay and cs_mapRelay.
  src/net.cpp
  src/net.h
  src/net_processing.cpp
Labels: Cleanup

#1878 [Core][RPC][BUG] Use sum of utxo values as money supply
  src/chainparams.cpp
  src/coins.cpp
  src/coins.h
  src/consensus/params.h
  src/consensus/zerocoin_verify.cpp
  src/consensus/zerocoin_verify.h
  src/init.cpp
  src/miner.cpp
  src/rpc/misc.cpp
  src/txdb.cpp
  src/txdb.h
  src/validation.cpp
  src/validation.h
  test/functional/mining_pos_reorg.py
Labels: Bug, Needs Release Notes, RPC, UTXO DBs and Indexes

#1909 [Bug][RPC] Guard RPC server during warm-up
  src/rpc/misc.cpp
  src/rpc/server.cpp
Labels: Bug, Needs Release Notes, RPC, Startup

#1900 [QT] fixing qt flag deprecation
  src/qt/pivx.cpp
  src/qt/pivx/splash.cpp
  src/qt/pivx/splash.h
Labels: GUI

#1911 [Wallet] Kill Accounts
  doc/release-notes.md
  src/Makefile.test.include
  src/rpc/client.cpp
  src/rpc/misc.cpp
  src/rpc/protocol.h
  src/test/CMakeLists.txt
  src/test/accounting_tests.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/rpc_deprecated.py
  test/functional/test_runner.py
  test/functional/wallet_import_stakingaddress.py
  test/functional/wallet_labels.py
  test/functional/wallet_listreceivedby.py
Labels: Cleanup, RPC, Wallet

#1898 [Refactor] Pass previous index from AcceptBlock to AcceptBlockHeader
  src/validation.cpp
  src/validation.h
Labels: Cleanup, Refactoring, Validation

#1906 [RPC] Cache money supply on memory. Introduce getsupplyinfo
  src/Makefile.am
  src/init.cpp
  src/moneysupply.h
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/misc.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/validation.cpp
  src/validation.h
  test/functional/mining_pos_reorg.py
Labels: RPC, UTXO DBs and Indexes

#1903 [Sapling] Anchors and nullifiers integrated into the chain state view layered cache.
  CMakeLists.txt
  src/Makefile.am
  src/coins.cpp
  src/coins.h
  src/policy/fees.cpp
  src/sapling/sapling_txdb.cpp
  src/test/coins_tests.cpp
  src/txdb.cpp
  src/txdb.h
  src/txmempool.cpp
  src/txmempool.h
Labels: Sapling, Tests, UTXO DBs and Indexes, Upstream ZCash

#1914 [bug] Swiftx DoConsensusVote missing brackets always returning without doing anything.
  src/swifttx.cpp
Labels: Bug, Masternode

#1829 Tier two network sync new architecture, regtest support + MN activation functional test.
  CMakeLists.txt
  src/Makefile.am
  src/activemasternode.cpp
  src/init.cpp
  src/masternode-sync.cpp
  src/masternode-sync.h
  src/masternode.cpp
  src/masternode.h
  src/masternodeconfig.cpp
  src/masternodeman.cpp
  src/masternodeman.h
  src/net_processing.cpp
  src/qt/pivx/masternodeswidget.cpp
  src/qt/pivx/masternodewizarddialog.cpp
  src/qt/pivx/mnmodel.cpp
  src/rpc/budget.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/spork.cpp
  src/spork.h
  src/tiertwo_networksync.cpp
  src/wallet/wallet.cpp
  test/functional/test_framework/util.py
  test/functional/test_runner.py
  test/functional/tiertwo_governance_sync_basic.py
  test/functional/tiertwo_masternode_activation.py
Labels: Budget/Proposal System, Masternode, Tests

#1912 [Sapling] Sapling transaction: builder, sapData net validation and builder unit tests coverage
  CMakeLists.txt
  src/Makefile.am
  src/Makefile.test.include
  src/primitives/transaction.cpp
  src/sapling/sapling_validation.cpp
  src/sapling/sapling_validation.h
  src/sapling/transaction_builder.cpp
  src/sapling/transaction_builder.h
  src/test/CMakeLists.txt
  src/test/librust/sapling_keystore_tests.cpp
  src/test/librust/sapling_test_fixture.cpp
  src/test/librust/sapling_test_fixture.h
  src/test/librust/transaction_builder_tests.cpp
  src/test/librust/utiltest.cpp
  src/test/librust/utiltest.h
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_test_fixture.h
Labels: Sapling, Upstream ZCash

#1921 [Core] Lock cs_vSend and cs_inventory in a consistent order even in TRY
  src/net.cpp
Labels: Refactoring, Upstream

#1915 Fix block-connection performance regression and mempool not copying tx performance improvement
  src/memusage.h
  src/miner.cpp
  src/miner.h
  src/net_processing.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/rawtransaction.cpp
  src/swifttx.cpp
  src/swifttx.h
  src/test/DoS_tests.cpp
  src/test/mempool_tests.cpp
  src/test/policyestimator_tests.cpp
  src/test/test_pivx.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/validation.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
Labels: Upstream, Validation

#1845 [Refactoring] Budget, round 3: split UpdateValid checks for proposals / finalized budgets
  src/masternode-budget.cpp
  src/masternode-budget.h
  src/masternode-payments.cpp
  src/rpc/budget.cpp
Labels: Budget/Proposal System, Refactoring

#1904 [Validation] Introduce rolling cache for block hashes in masternode manager
  src/Makefile.am
  src/activemasternode.cpp
  src/cyclingvector.h
  src/init.cpp
  src/masternode-payments.cpp
  src/masternode.cpp
  src/masternode.h
  src/masternodeman.cpp
  src/masternodeman.h
  src/rpc/blockchain.cpp
  src/rpc/masternode.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/validation.cpp
  test/functional/feature_blockhashcache.py
  test/functional/test_runner.py
Labels: Masternode, Needs Release Notes, RPC, Validation

#1919 [GUI] isStakingStatusActive pointers guarded.
  src/qt/walletmodel.cpp
Labels: GUI, Trivial

#1931 [BUG][GUI] guarding wallet ptr access in WalletModel:getEncryptionStatus .
  src/qt/pivx/topbar.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Labels: Bug, GUI

#1913 [Mempool] Add tags to mempool's mapTx indices
  src/test/mempool_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
Labels: Mempool, Upstream

#1932 [Trivial] Remove unused var in SaplingSPKM::AddSaplingSpendingKey
  src/sapling/saplingscriptpubkeyman.cpp
Labels: Cleanup, Trivial

#1910 [Validation] v8 blocks, Sapling merkle tree inclusion.
  src/chain.cpp
  src/chain.h
  src/miner.cpp
  src/primitives/block.cpp
  src/primitives/block.h
  src/rpc/blockchain.cpp
  src/swifttx.cpp
  src/txdb.cpp
  src/validation.cpp
  src/validation.h
  src/validationinterface.cpp
  src/validationinterface.h
Labels: Needs Release Notes, Sapling, Upstream ZCash, Validation

#1918 [Wallet] Sapling notes, nullifiers and witnesses management.
  .travis.yml
  src/Makefile.test.include
  src/sapling/saplingscriptpubkeyman.cpp
  src/sapling/saplingscriptpubkeyman.h
  src/test/CMakeLists.txt
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/test/librust/sapling_wallet_tests.cpp
  src/test/librust/utiltest.cpp
  src/test/librust/utiltest.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Sapling, Upstream ZCash, Wallet

#1930 [RPC] Speeding up listmasternodes command
  src/masternodeman.cpp
  src/masternodeman.h
  src/rpc/masternode.cpp
Labels: Masternode, RPC

#1851 [Refactoring] Budget, round 4: remove Broadcast classes
  src/masternode-budget.cpp
  src/masternode-budget.h
  src/masternode-sync.cpp
  src/net_processing.cpp
  src/rpc/budget.cpp
Labels: Budget/Proposal System, Refactoring

#1942 [Travis] Increase Travis ccache size and reduce spam
  .travis.yml
  src/Makefile.test.include
Labels: Build System, Trivial

#1933 [Cleanup] Remove duplicate header includes
  src/qt/pivx/furabstractlistitemdelegate.h
  src/qt/pivx/settings/settingsbackupwallet.cpp
  src/qt/pivx/settings/settingsconsolewidget.cpp
  src/qt/utilitydialog.cpp
  src/test/transaction_tests.cpp
Labels: Cleanup, Trivial

#1936 [Cleanup] Remove Q_FOREACH, PAIRTYPE, and BOOST_REVERSE_FOREACH
  src/.clang-format
  src/checkpoints.cpp
  src/init.cpp
  src/masternodeman.cpp
  src/net_processing.cpp
  src/policy/policy.cpp
  src/prevector.h
  src/qt/addressbookpage.cpp
  src/qt/coincontroldialog.cpp
  src/qt/optionsdialog.cpp
  src/qt/paymentserver.cpp
  src/qt/peertablemodel.cpp
  src/qt/pivx/navmenuwidget.cpp
  src/qt/pivx/qtutils.cpp
  src/qt/pivx/settings/settingsconsolewidget.cpp
  src/qt/pivx/topbar.cpp
  src/qt/pivx/welcomecontentwidget.cpp
  src/qt/platformstyle.cpp
  src/qt/rpcconsole.cpp
  src/qt/trafficgraphwidget.cpp
  src/qt/utilitydialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodeltransaction.cpp
  src/reverse_iterate.h
  src/rpc/blockchain.cpp
  src/rpc/server.cpp
  src/swifttx.cpp
  src/txmempool.cpp
  src/utilstrencodings.h
  src/validation.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet_zerocoin.cpp
Labels: Cleanup

#1934 [Cleanup] Remove ZLNP remnants in bloom.h/bloom.cpp
  src/bloom.cpp
  src/bloom.h
Labels: Cleanup, zPiv

#1944 [Tests] Split out zerocoin and sapling unit tests to their own targets
  src/Makefile.test.include
Labels: Build System, Tests

#1938 [Core] Arg parsing overhaul
  src/chain.cpp
  src/chainparamsbase.cpp
  src/httprpc.cpp
  src/httpserver.cpp
  src/init.cpp
  src/legacy/stakemodifier.cpp
  src/miner.cpp
  src/net.cpp
  src/net_processing.cpp
  src/pivx-cli.cpp
  src/pivx-tx.cpp
  src/pivxd.cpp
  src/policy/fees.cpp
  src/policy/policy.cpp
  src/qt/intro.cpp
  src/qt/optionsmodel.cpp
  src/qt/paymentserver.cpp
  src/qt/pivx.cpp
  src/qt/pivx/pivxgui.cpp
  src/qt/pivx/settings/settingsinformationwidget.cpp
  src/qt/rpcconsole.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/protocol.cpp
  src/rpc/server.cpp
  src/script/sigcache.cpp
  src/test/DoS_tests.cpp
  src/test/getarg_tests.cpp
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/test/test_pivx.cpp
  src/test/util_tests.cpp
  src/timedata.cpp
  src/torcontrol.cpp
  src/util.cpp
  src/util.h
  src/validation.cpp
  src/wallet/db.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqnotificationinterface.h
Labels: Startup, Upstream, Util / log / libs

#1947 [Travis] Set stricter timeout for Dash 32bit job
  .travis.yml
  src/Makefile.test.include
Labels: Build System, Tests

#1946 Testing framework, adding mocktime startup arg.
  src/init.cpp
Labels: Startup, Tests

#1940 [Validation] Introducing Sapling transaction network connection and validations.
  src/consensus/consensus.h
  src/consensus/tx_verify.cpp
  src/consensus/tx_verify.h
  src/policy/policy.cpp
  src/primitives/transaction.h
  src/qt/walletmodel.cpp
  src/sapling/sapling_transaction.h
  src/sapling/sapling_validation.cpp
  src/sapling/sapling_validation.h
  src/sapling/transaction_builder.cpp
  src/script/standard.cpp
  src/validation.cpp
  src/validation.h
Labels: Sapling, Validation

#1948 [BUG][Wallet] Lock cs_main before accessing CheckFinalTx
  src/txmempool.cpp
  src/wallet/wallet.cpp
Labels: Bug, Masternode, RPC, Wallet

#1949 [BUG][RPC] Add missing lock in sendrawtransaction
  src/rpc/rawtransaction.cpp
Labels: Bug, RPC

#1926 [RPC][Refactor] Register calls where they are defined
  CMakeLists.txt
  src/Makefile.am
  src/init.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/budget.cpp
  src/rpc/masternode.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/register.h
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/test_pivx.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/rpcwallet.h
  src/wallet/rpczpiv.cpp
  src/wallet/test/wallet_test_fixture.cpp
Labels: RPC, Refactoring
