Repository PIVX-Project/PIVX, pull requests merged in 2020-06, with the labels that each got.

#1630 [Refactoring] Lightweight abstraction of boost::filesystem
  CMakeLists.txt
  src/Makefile.am
  src/dbwrapper.cpp
  src/dbwrapper.h
  src/fs.cpp
  src/fs.h
  src/init.cpp
  src/logging.cpp
  src/logging.h
  src/main.cpp
  src/main.h
  src/masternode-budget.cpp
  src/masternode-budget.h
  src/masternode-payments.cpp
  src/masternode-payments.h
  src/masternodeconfig.cpp
  src/masternodeconfig.h
  src/masternodeman.cpp
  src/masternodeman.h
  src/net.cpp
  src/net.h
  src/pivx-cli.cpp
  src/pivxd.cpp
  src/qt/guiutil.cpp
  src/qt/guiutil.h
  src/qt/intro.cpp
  src/qt/optionsdialog.cpp
  src/qt/pivx.cpp
  src/qt/pivx/masternodeswidget.cpp
  src/qt/pivx/masternodewizarddialog.cpp
  src/rpc/protocol.cpp
  src/rpc/protocol.h
  src/rpc/server.cpp
  src/sporkdb.h
  src/test/checkblock_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/script_tests.cpp
  src/test/test_pivx.cpp
  src/test/test_pivx.h
  src/torcontrol.cpp
  src/util.cpp
  src/util.h
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/rpcdump.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Refactoring, Upstream

#1641 [Core] New fee estimation code
  CMakeLists.txt
  src/Makefile.am
  src/Makefile.test.include
  src/init.cpp
  src/main.cpp
  src/policy/fees.cpp
  src/policy/fees.h
  src/primitives/transaction.h
  src/qt/coincontroldialog.cpp
  src/qt/optionsmodel.cpp
  src/qt/pivx/sendcustomfeedialog.cpp
  src/test/policyestimator_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/feature_fee_estimation.py
  test/functional/test_runner.py
Labels: GUI, TX fees and policy, Tests, Upstream

#1645 [Core] Implement accurate memory accounting for mempool
  src/memusage.h
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/rpc/blockchain.cpp
  src/script/script.cpp
  src/script/script.h
  src/txmempool.cpp
  src/txmempool.h
Labels: Needs Release Notes, RPC, Resource usage, Upstream

#1660 [RPC] Change btc to PIV in help text
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/wallet/rpcwallet.cpp
Labels: NoFunctionalChanges, RPC, Trivial

#1652 [GUI] cs widget: minor usability improvements
  src/qt/pivx/coldstakingwidget.cpp
  src/qt/pivx/coldstakingwidget.h
  src/qt/pivx/sendconfirmdialog.cpp
Labels: Cold Staking, Feature Request, GUI, Usability

#1548 [Cleanup][GUI] Remove zPIV faqs
  src/qt/pivx/settings/forms/settingsfaqwidget.ui
  src/qt/pivx/settings/settingsfaqwidget.cpp
  src/qt/pivx/settings/settingsfaqwidget.h
Labels: Cleanup, GUI, NoFunctionalChanges, Refactoring

#1587 [Backport] Shut down if trying to connect a corrupted block
  src/main.cpp
Labels: Data Corruption, Upstream, Validation

#1650 [Tests] Benchmarking Framework
  .gitignore
  .travis.yml
  configure.ac
  src/Makefile.am
  src/Makefile.bench.include
  src/bench/Examples.cpp
  src/bench/base58.cpp
  src/bench/bench.cpp
  src/bench/bench.h
  src/bench/bench_pivx.cpp
  src/bench/checkqueue.cpp
  src/bench/crypto_hash.cpp
  src/bench/perf.cpp
  src/bench/perf.h
  src/bench/prevector_destructor.cpp
  src/httprpc.cpp
  src/init.cpp
  src/memusage.h
  src/qt/optionsdialog.cpp
  src/qt/pivx/settings/settingsconsolewidget.cpp
  src/qt/pivx/settings/settingsmainoptionswidget.cpp
  src/qt/rpcconsole.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/scheduler.h
  src/torcontrol.cpp
  src/torcontrol.h
  src/util.cpp
  src/util.h
Labels: Needs Release Notes, Tests, Upstream

#1662 [Cleanup] Remove obsolete multisig code
  src/keystore.cpp
  src/keystore.h
  src/qt/coincontroldialog.cpp
  src/qt/coincontroldialog.h
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/wallet_ismine.cpp
  src/wallet/wallet_ismine.h
  src/wallet/walletdb.cpp
Labels: Cleanup, GUI, Wallet

#1667 GUI: removing unused bitcoinamountfield file
  src/Makefile.qt.include
  src/qt/CMakeLists.txt
  src/qt/bitcoinamountfield.cpp
  src/qt/bitcoinamountfield.h
Labels: Cleanup

#1611 [GUI][Bug] CoinControl payAmounts and nBytes calculation
  src/qt/coincontroldialog.cpp
  src/qt/coincontroldialog.h
  src/qt/pivx/coldstakingwidget.cpp
  src/qt/pivx/coldstakingwidget.h
  src/qt/pivx/send.cpp
  src/qt/pivx/send.h
Labels: Bug, GUI

#1681 [Build] Set complete cpp/cxx flags for bench_pivx binary
  src/Makefile.bench.include
Labels: Build System

#1657 [GUI][Model] Remove unneeded lock in checkBalanceChanged
  src/qt/walletmodel.cpp
Labels: GUI, Wallet

#1684 [Travis] Bump macOS CMake target image
  .travis.yml
Labels: Build System

#1647 [Core] MemPool package tracking and limits
  src/amount.h
  src/init.cpp
  src/main.cpp
  src/main.h
  src/memusage.h
  src/miner.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/test/mempool_tests.cpp
  src/test/miner_tests.cpp
  src/test/policyestimator_tests.cpp
  src/test/test_pivx.cpp
  src/test/test_pivx.h
  src/txmempool.cpp
  src/txmempool.h
  src/wallet/wallet.cpp
  test/functional/mempool_packages.py
  test/functional/test_runner.py
Labels: Mempool, Needs Release Notes, TX fees and policy, Upstream

#1672 [Bug] removed "dseg" message support re-introduced.
  src/masternodeman.cpp
  src/protocol.cpp
  src/protocol.h
Labels: Bug, Masternode, P2P

#1683 [GUI] Add missing QPainterPath include
  src/qt/trafficgraphwidget.cpp
Labels: GUI

#1631 [Miner] Remove 2017 invalid outputs check
  src/main.cpp
  src/main.h
  src/miner.cpp
  src/txmempool.cpp
Labels: Cleanup, zPiv

#1646 [Net] Turn net structures into dumb storage classes
  CMakeLists.txt
  src/Makefile.am
  src/activemasternode.cpp
  src/addrman.h
  src/httpserver.cpp
  src/init.cpp
  src/masternode.cpp
  src/masternode.h
  src/masternodeconfig.cpp
  src/masternodeman.cpp
  src/net.cpp
  src/net.h
  src/netaddress.cpp
  src/netaddress.h
  src/netbase.cpp
  src/netbase.h
  src/protocol.h
  src/qt/clientmodel.cpp
  src/qt/optionsdialog.cpp
  src/qt/optionsmodel.cpp
  src/qt/rpcconsole.cpp
  src/rpc/masternode.cpp
  src/rpc/net.cpp
  src/rpc/server.cpp
  src/test/addrman_tests.cpp
  src/test/net_tests.cpp
  src/test/netbase_tests.cpp
  src/timedata.cpp
  src/torcontrol.cpp
  src/wallet/rpcwallet.cpp
Labels: Needs Release Notes, P2P, RPC

#1678 [GUI][Model] Remove zerocoin methods.
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Labels: Cleanup, GUI, Wallet

#1673 [Core] Separate Consensus CheckTxInputs and GetSpendHeight in CheckInputs
  src/main.cpp
  src/main.h
Labels: Refactoring, Upstream

#1665 New upgrade structure.
  CMakeLists.txt
  doc/release-notes.md
  src/Makefile.am
  src/Makefile.test.include
  src/chainparams.cpp
  src/chainparams.h
  src/consensus/params.cpp
  src/consensus/params.h
  src/consensus/upgrades.cpp
  src/consensus/upgrades.h
  src/optional.h
  src/rpc/blockchain.cpp
  src/test/upgrades_tests.cpp
Labels: Consensus, Validation

#1653 [GUI] Reuse collateral UTXOs in MnWizard
  src/qt/pivx/masternodewizarddialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Labels: GUI, Masternode, Usability

#1598 [GUI] Split "Delegators" address type in the table model
  src/qt/addresstablemodel.cpp
  src/qt/addresstablemodel.h
  src/qt/pivx/qtutils.cpp
Labels: Cold Staking, GUI

#1674 Remove unused MultiSigScriptSet typedef and member
  src/keystore.h
Labels: Cleanup

#1612 [GUI] CoinControlDialog fix SelectAll / UnselectAll
  src/qt/coincontroldialog.cpp
  src/qt/coincontroldialog.h
Labels: GUI, Usability

#1668 [Backport] Make sigcache faster, more efficient, larger
  src/init.cpp
  src/main.cpp
  src/script/sigcache.cpp
  src/script/sigcache.h
Labels: Upstream, Validation

#1696 [BUG][GUI] Restore message() connection for ColdStakingWidget
  src/qt/pivx/pivxgui.cpp
Labels: Bug, Cold Staking, GUI

#1697 [BUG] Fix mempool entry priority
  src/main.cpp
Labels: Bug, Mempool

#1670 [Refactoring] CValidationState logging
  src/consensus/tx_verify.cpp
  src/consensus/validation.h
  src/main.cpp
  src/main.h
  test/functional/mining_pos_reorg.py
  test/functional/wallet_zerocoin_publicspends.py
Labels: Refactoring, Upstream, Util / log / libs, Validation

#1688 [GUI] TopBar navigation (sync/peers)
  src/qt/pivx/pivxgui.cpp
  src/qt/pivx/pivxgui.h
  src/qt/pivx/settings/settingsinformationwidget.h
  src/qt/pivx/settings/settingswidget.cpp
  src/qt/pivx/settings/settingswidget.h
  src/qt/pivx/topbar.cpp
Labels: Feature Request, GUI, Needs Release Notes, Usability

#1687 [Refactor] Network upgrades management cleanup
  src/chain.cpp
  src/chain.h
  src/chainparams.cpp
  src/consensus/params.cpp
  src/consensus/params.h
  src/consensus/upgrades.cpp
  src/consensus/zerocoin_verify.cpp
  src/init.cpp
  src/kernel.cpp
  src/legacy/stakemodifier.cpp
  src/main.cpp
  src/masternode-budget.cpp
  src/masternode-payments.cpp
  src/miner.cpp
  src/pow.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/stakeinput.cpp
  src/test/budget_tests.cpp
  src/test/upgrades_tests.cpp
  src/txdb.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/zpiv/zpos.cpp
  src/zpivchain.cpp
  src/zpivchain.h
Labels: Refactoring, Validation

#1699 [GUI] Fix dashboard txs list blinking issue
  src/qt/pivx/dashboardwidget.cpp
Labels: GUI

#1710 [Depends] Update dependency fallback URL
  depends/Makefile
Labels: Build System

#1695 [Wallet] Abandon tx in CommitTransaction if ATMP fails
  src/main.cpp
  src/main.h
  src/masternode-budget.cpp
  src/qt/pivx/guitransactionsutils.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/rpc/budget.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/wallet_zerocoin.cpp
  test/functional/mining_pos_coldStaking.py
Labels: Validation, Wallet

#1676 [Backport] Base58 performance improvements
  src/base58.cpp
  src/base58.h
  src/main.cpp
  src/test/bip32_tests.cpp
Labels: Refactoring, Resource usage, Upstream, Util / log / libs

#1690 [BUG][GUI] check for available "unlocked" balance in prepareTransaction
  src/qt/pivx/guitransactionsutils.cpp
  src/qt/pivx/send.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Labels: Bug, GUI, Wallet

#1693 Upstream scripts back ports [Step 1]
  CMakeLists.txt
  src/Makefile.am
  src/init.cpp
  src/kernel.cpp
  src/main.cpp
  src/main.h
  src/miner.cpp
  src/pivx-tx.cpp
  src/policy/policy.cpp
  src/policy/policy.h
  src/pubkey.h
  src/rpc/rawtransaction.cpp
  src/script/interpreter.cpp
  src/script/script.cpp
  src/script/script.h
  src/script/sign.cpp
  src/script/standard.cpp
  src/script/standard.h
  src/test/multisig_tests.cpp
  src/test/script_P2SH_tests.cpp
  src/test/transaction_tests.cpp
  src/wallet/wallet.cpp
Labels: Refactoring, Upstream, Wallet

#1701 [Tools] logprint-scanner for error() and strprintf()
  contrib/devtools/logprint-scanner.py
  src/chain.h
  src/kernel.cpp
  src/main.cpp
  src/stakeinput.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/zpiv/zpos.cpp
Labels: NoFunctionalChanges, Scripts and Tools, Util / log / libs

#1692 [Cleanup] Don't sign MESS_VER_STRMESS network msgs anymore
  src/activemasternode.cpp
  src/chain.h
  src/consensus/params.h
  src/masternode-budget.cpp
  src/masternode-payments.cpp
  src/masternode.cpp
  src/masternode.h
  src/messagesigner.cpp
  src/messagesigner.h
  src/rpc/budget.cpp
  src/spork.cpp
  src/swifttx.cpp
Labels: Cleanup, Masternode

#1677 Prepare for non-Base58 addresses [Step 2]
  src/base58.cpp
  src/base58.h
  src/messagesigner.cpp
  src/pivx-tx.cpp
  src/qt/pivx/masternodewizarddialog.cpp
  src/qt/pivx/sendconfirmdialog.cpp
  src/qt/pivx/settings/settingsbittoolwidget.cpp
  src/qt/pivx/settings/settingsmultisendwidget.cpp
  src/qt/transactiondesc.cpp
  src/rpc/masternode.cpp
  src/rpc/rawtransaction.cpp
  src/test/base58_tests.cpp
  src/test/bloom_tests.cpp
  src/test/key_tests.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.h
Labels: Upstream, Wallet

#1663 [Wallet][RPC] FundTransaction - fundrawtransaction
  src/coincontrol.h
  src/crypter.cpp
  src/keystore.cpp
  src/keystore.h
  src/primitives/transaction.h
  src/qt/coincontroldialog.cpp
  src/qt/transactiondesc.cpp
  src/qt/walletmodel.cpp
  src/rpc/client.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/script/sign.cpp
  src/script/sign.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/wallet_ismine.cpp
  src/wallet/wallet_ismine.h
  test/functional/rpc_fundrawtransaction.py
  test/functional/rpc_listtransactions.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
Labels: Needs Release Notes, RPC, Tests, Upstream, Wallet

#1705 [Doc] Add/Update some release notes for 4.2
  doc/release-notes.md
Labels: Documentation, NoFunctionalChanges

#1715 [GUI][Trivial] Update settingsfaqwidget.ui
  src/qt/pivx/settings/forms/settingsfaqwidget.ui
Labels: GUI, NoFunctionalChanges, Trivial
