Repository PIVX-Project/PIVX, pull requests merged in 2020-11, with the labels that each got.

#1858 [Refactoring] Budget, round 5: proposals/budgets FeeTX indexes
  src/masternode-budget.cpp
  src/masternode-budget.h
  src/rpc/blockchain.cpp
  src/validation.cpp
Labels: Budget/Proposal System, Refactoring

#1950 [Backport] Moving GetDustThreshold out of transaction primitive
  src/policy/policy.cpp
  src/policy/policy.h
  src/primitives/transaction.h
  src/qt/coincontroldialog.cpp
  src/qt/guiutil.cpp
  src/qt/paymentserver.cpp
  src/wallet/wallet.cpp
Labels: Consensus, Upstream

#1951 [wallet] CWalletTx: missing fStakeDelegationVoided initialization
  src/wallet/wallet.cpp
Labels: Trivial, Wallet

#1922 [Refactor] Strip out cs_main lock for misbehaving from Masternodeman:ProcessMessage
  src/masternodeman.cpp
  src/masternodeman.h
  src/primitives/transaction.h
  src/tiertwo_networksync.cpp
Labels: Masternode, Refactoring

#1924 [Cleanup] Remove unconfirmed/immature zerocoin balance calculations
  src/rpc/misc.cpp
  src/wallet/rpczpiv.cpp
  src/wallet/wallet.h
  src/wallet/wallet_zerocoin.cpp
  src/zpiv/zpivtracker.cpp
  src/zpiv/zpivtracker.h
Labels: Cleanup, Wallet, zPiv

#1798 Sapling Integration: Chain + Wallet transaction manager.
  CMakeLists.txt
  src/Makefile.am
  src/core_write.cpp
  src/qt/CMakeLists.txt
  src/qt/transactionrecord.cpp
  src/rpc/client.cpp
  src/rpc/rawtransaction.cpp
  src/sapling/sapling_core_write.cpp
  src/sapling/sapling_core_write.h
  src/sapling/sapling_operation.cpp
  src/sapling/sapling_operation.h
  src/sapling/saplingscriptpubkeyman.cpp
  src/sapling/saplingscriptpubkeyman.h
  src/sapling/transaction_builder.cpp
  src/sapling/transaction_builder.h
  src/sapling/zip32.cpp
  src/sapling/zip32.h
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/test/librust/sapling_wallet_tests.cpp
  src/validation.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/wallet_zerocoin.cpp
  src/zpiv/zpivwallet.cpp
  src/zpivchain.cpp
  test/functional/sapling_changeaddresses.py
  test/functional/sapling_key_import_export.py
  test/functional/sapling_wallet.py
  test/functional/sapling_wallet_anchorfork.py
  test/functional/sapling_wallet_listreceived.py
  test/functional/sapling_wallet_nullifiers.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
Labels: Needs Release Notes, Network, RPC, Sapling, Tests, Wallet

#1945 [Core] Say "Goodbye" to SwiftTX
  CMakeLists.txt
  src/Makefile.am
  src/coincontrol.h
  src/init.cpp
  src/masternode-budget.cpp
  src/masternodeman.cpp
  src/net.cpp
  src/net.h
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
  src/qt/coincontroldialog.cpp
  src/qt/transactionrecord.cpp
  src/qt/transactionrecord.h
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/rpc/blockchain.cpp
  src/rpc/budget.cpp
  src/rpc/client.cpp
  src/rpc/rawtransaction.cpp
  src/sapling/sapling_operation.cpp
  src/spork.cpp
  src/sporkid.h
  src/swifttx.cpp
  src/swifttx.h
  src/util.cpp
  src/util.h
  src/validation.cpp
  src/validation.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_txn_doublespend.py
Labels: Cleanup, Consensus, Masternode, Needs Release Notes

#1916 [Test] Introducing tier two functional test suite + several fixes
  .travis.yml
  src/Makefile.am
  src/activemasternode.cpp
  src/activemasternode.h
  src/init.cpp
  src/masternode-budget.cpp
  src/masternode-budget.h
  src/masternode-sync.cpp
  src/masternode.cpp
  src/masternode.h
  src/masternodeconfig.cpp
  src/masternodeconfig.h
  src/masternodeman.cpp
  src/operationresult.h
  src/protocol.cpp
  src/rpc/blockchain.cpp
  src/rpc/budget.cpp
  src/rpc/client.cpp
  src/rpc/masternode.cpp
  src/sapling/sapling_operation.cpp
  src/sapling/sapling_operation.h
  src/spork.cpp
  src/spork.h
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/tiertwo_networksync.cpp
  src/util.cpp
  src/util.h
  src/validation.cpp
  src/validation.h
  src/wallet/rpcwallet.cpp
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
  test/functional/tiertwo_governance_sync_basic.py
  test/functional/tiertwo_masternode_activation.py
  test/functional/tiertwo_masternode_ping.py
Labels: Masternode, RPC, Tests

#1954 [Refactor] Move CFeeRate out of the consensus module
  CMakeLists.txt
  src/Makefile.am
  src/amount.h
  src/coincontrol.h
  src/init.cpp
  src/memusage.h
  src/miner.cpp
  src/policy/feerate.cpp
  src/policy/feerate.h
  src/policy/fees.h
  src/policy/policy.h
  src/qt/bitcoinunits.cpp
  src/qt/pivx/sendcustomfeedialog.h
  src/rpc/blockchain.cpp
  src/test/mempool_tests.cpp
  src/test/policyestimator_tests.cpp
  src/txmempool.h
  src/validation.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.h
Labels: Consensus, Refactoring, Upstream

#1861 [Refactoring] Budget, round 6: masternode vote for finalized budgets
  src/init.cpp
  src/masternode-budget.cpp
  src/masternode-budget.h
  src/masternode-payments.cpp
  src/masternode-sync.cpp
  src/net_processing.cpp
  src/rpc/blockchain.cpp
  src/rpc/budget.cpp
  src/test/budget_tests.cpp
  src/validation.cpp
Labels: Budget/Proposal System, Refactoring

#1955 [Core] Sapling transaction version
  src/coins.cpp
  src/consensus/tx_verify.cpp
  src/miner.cpp
  src/net_processing.cpp
  src/pivx-tx.cpp
  src/policy/policy.cpp
  src/policy/policy.h
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/qt/transactionrecord.cpp
  src/rpc/rawtransaction.cpp
  src/sapling/sapling_core_write.cpp
  src/sapling/sapling_validation.cpp
  src/sapling/saplingscriptpubkeyman.cpp
  src/sapling/transaction_builder.cpp
  src/test/script_P2SH_tests.cpp
  src/test/sighash_tests.cpp
  src/test/transaction_tests.cpp
  src/txmempool.cpp
  src/validation.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/rpczpiv.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Consensus, Refactoring, Sapling

#1952 [Wallet] Shielded transactions balance cache system.
  src/Makefile.test.include
  src/sapling/saplingscriptpubkeyman.cpp
  src/sapling/saplingscriptpubkeyman.h
  src/script/ismine.h
  src/test/CMakeLists.txt
  src/test/librust/utiltest.cpp
  src/test/librust/utiltest.h
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/test/wallet_shielded_balances_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Sapling, Wallet

#1959 [Wallet] fix GetShieldedChange, tx isSapling renamed to isSaplingVersion
  src/sapling/saplingscriptpubkeyman.cpp
Labels: Trivial

#1956 [BUG] Fix transaction size limits for sapling version
  src/consensus/tx_verify.cpp
  src/sapling/sapling_validation.cpp
  test/functional/feature_fee_estimation.py
Labels: Bug, Sapling, Validation

#1962 [Bug] Updated stakeable coins in staker thread
  src/miner.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Block Generation, Bug

#1961 Sapling operation new spend from several different sources feature + send/build decoupling.
  src/sapling/address.hpp
  src/sapling/key_io_sapling.cpp
  src/sapling/key_io_sapling.h
  src/sapling/sapling_operation.cpp
  src/sapling/sapling_operation.h
  src/sapling/saplingscriptpubkeyman.cpp
  src/sapling/saplingscriptpubkeyman.h
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_shielded_balances_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Sapling, Wallet

#1958 [Validation] Sapling nullifiers mempool connection
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
Labels: Sapling, Validation

#1953 [Cleanup] Stop using Boost where possible
  src/checkqueue.h
  src/core_read.cpp
  src/fs.cpp
  src/fs.h
  src/init.cpp
  src/net.cpp
  src/net.h
  src/netbase.cpp
  src/pivxd.cpp
  src/qt/guiutil.cpp
  src/qt/optionsmodel.cpp
  src/qt/pivx.cpp
  src/qt/pivx/settings/settingsmainoptionswidget.cpp
  src/rest.cpp
  src/rpc/client.cpp
  src/rpc/server.cpp
  src/sapling/noteencryption.cpp
  src/script/sigcache.cpp
  src/test/DoS_tests.cpp
  src/test/cuckoocache_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/test/netbase_tests.cpp
  src/test/script_tests.cpp
  src/test/streams_tests.cpp
  src/test/util_tests.cpp
  src/torcontrol.cpp
  src/torcontrol.h
  src/txdb.cpp
  src/txdb.h
  src/util.cpp
  src/util.h
  src/utilstrencodings.cpp
  src/utilstrencodings.h
  src/validation.cpp
  src/validationinterface.h
  src/wallet/db.cpp
  src/wallet/wallet.cpp
Labels: Cleanup, Refactoring

#1937 [Refactor] Removing prev index pointer from FillBlockPayee flow.
  src/masternode-budget.cpp
  src/masternode-budget.h
  src/masternode-payments.cpp
  src/masternode-payments.h
  src/miner.cpp
  src/wallet/wallet.cpp
Labels: Block Generation, Masternode, Refactoring

#1964 [RPC] shielded_sendmany from multiple sources + raw_shielded_sendmany
  src/rpc/client.cpp
  src/sapling/sapling_operation.cpp
  src/sapling/sapling_operation.h
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/wallet/rpcwallet.cpp
  test/functional/sapling_wallet.py
Labels: RPC, Sapling, Tests

#1965 [RPC][Tests] Add sapling mempool test + getbestsaplinganchor
  .travis.yml
  src/rpc/blockchain.cpp
  test/functional/sapling_mempool.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
Labels: RPC, Sapling, Tests

#1943 [Wallet][DB] Back ports up to the CWallet/CWalletDB/CDB refactor.
  src/dbwrapper.cpp
  src/dbwrapper.h
  src/guiinterfaceutil.h
  src/init.cpp
  src/net_processing.cpp
  src/pivx-tx.cpp
  src/streams.h
  src/test/dbwrapper_tests.cpp
  src/txdb.cpp
  src/txdb.h
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Wallet

#1969 [Tests] Add support for sapling txes and v8 blocks in the framework
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/messages.py
Labels: Sapling, Tests

#1967 [Refactor] SaplingOperation: support for multisig, cold-staking, and OP_RETURN outputs
  src/sapling/sapling_operation.cpp
  src/sapling/sapling_operation.h
  src/sapling/transaction_builder.cpp
  src/sapling/transaction_builder.h
  src/script/standard.cpp
  src/script/standard.h
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/wallet/rpcwallet.cpp
Labels: Refactoring, Sapling

#1862 [Refactoring] Budget, round 7: split masternode-budget files
  CMakeLists.txt
  src/Makefile.am
  src/budget/budgetdb.cpp
  src/budget/budgetdb.h
  src/budget/budgetmanager.cpp
  src/budget/budgetmanager.h
  src/budget/budgetproposal.cpp
  src/budget/budgetproposal.h
  src/budget/budgetvote.cpp
  src/budget/budgetvote.h
  src/budget/finalizedbudget.cpp
  src/budget/finalizedbudget.h
  src/budget/finalizedbudgetvote.cpp
  src/budget/finalizedbudgetvote.h
  src/init.cpp
  src/masternode-budget.h
  src/masternode-payments.cpp
  src/masternode-sync.cpp
  src/net_processing.cpp
  src/rpc/blockchain.cpp
  src/rpc/budget.cpp
  src/test/budget_tests.cpp
  src/validation.cpp
  src/wallet/wallet.cpp
Labels: Budget/Proposal System, Cleanup, Refactoring

#1978 [GUI] FAQ "Exit" moved to "Close FAQ"
  src/qt/pivx/settings/forms/settingsfaqwidget.ui
Labels: GUI, Trivial

#1975 [Trivial] Log changed count for sapling nullifiers and anchors
  src/sapling/sapling_txdb.cpp
Labels: Trivial, Util / log / libs

#1972 [RPC][Tests] Memo field for sapling transactions
  .travis.yml
  src/sapling/sapling_operation.cpp
  src/sapling/sapling_operation.h
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/utilstrencodings.cpp
  src/utilstrencodings.h
  src/wallet/rpcwallet.cpp
  test/functional/sapling_wallet_listreceived.py
Labels: RPC, Sapling, Tests

#1970 [Validation][RPC] Delegate from shielded addresses
  src/sapling/sapling_validation.cpp
  src/wallet/rpcwallet.cpp
  test/functional/mining_pos_coldStaking.py
  test/functional/mining_pos_fakestake.py
  test/functional/test_framework/test_framework.py
Labels: Cold Staking, RPC, Sapling, Tests, Validation

#1971 [RPC] [scripted-diff] Don't use snake case in RPC command names
  src/rpc/client.cpp
  src/sapling/saplingscriptpubkeyman.cpp
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/wallet/rpcwallet.cpp
  test/functional/mining_pos_coldStaking.py
  test/functional/sapling_changeaddresses.py
  test/functional/sapling_key_import_export.py
  test/functional/sapling_mempool.py
  test/functional/sapling_wallet.py
  test/functional/sapling_wallet_anchorfork.py
  test/functional/sapling_wallet_listreceived.py
  test/functional/sapling_wallet_nullifiers.py
Labels: Cleanup, RPC

#1977 Coin control dialog utxo processing/update flow large cleanup and improvements
  src/addrman.cpp
  src/qt/coincontroldialog.cpp
  src/qt/coincontroldialog.h
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/rpc/masternode.cpp
  src/sapling/sapling_operation.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: GUI, Refactoring, Wallet

#1983 [Tests][Cleanup] Nuke zerocoin from the functional test framework
  test/functional/create_cache.py
  test/functional/mining_pos_coldStaking.py
  test/functional/mining_pos_fakestake.py
  test/functional/mining_pos_reorg.py
  test/functional/rpc_spork.py
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
  test/functional/wallet_zerocoin_publicspends.py
Labels: Cleanup, Tests

#1966 [Core] Special Transactions base layer
  CMakeLists.txt
  src/Makefile.am
  src/Makefile.test.include
  src/consensus/tx_verify.cpp
  src/core_write.cpp
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/rpc/rawtransaction.cpp
  src/script/interpreter.cpp
  src/test/validation_tests.cpp
  src/tiertwo/specialtx_validation.cpp
  src/tiertwo/specialtx_validation.h
  src/wallet/rpcwallet.cpp
  test/util/data/blanktxv1.json
  test/util/data/tt-delin1-out.json
  test/util/data/tt-delout1-out.json
  test/util/data/tt-locktime317000-out.json
  test/util/data/txcreate1.json
  test/util/data/txcreate2.json
  test/util/data/txcreatescript1.json
  test/util/data/txcreatesign.json
Labels: Consensus, Masternode, Validation

#1982 [RPC] shielded supply in getsupplyinfo and getinfo
  src/rpc/blockchain.cpp
  src/rpc/misc.cpp
  test/functional/mining_pos_reorg.py
Labels: Cleanup, RPC

#1968 [TierTwo] Missing misbehaving + ban score not introduced on the new msg dispatcher flow
  src/masternode.cpp
  src/masternodeman.cpp
  src/tiertwo_networksync.cpp
Labels: Masternode, P2P

#1986 [Build] Replicate TravisCI tests in Github Actions
  .github/workflows/build-and-test.yml
Labels: Build System

#1990 [Build] Pass proper commit range to linter
  .github/workflows/build-and-test.yml
Labels: Build System

#1980 [Sapling] Remove Sprout parameters
  src/util.cpp
  util/fetch-params.sh
Labels: Sapling, Util / log / libs

#1981 [Cleanup][Sapling] Final Sprout cleanup
  src/Makefile.am
  src/rpc/misc.cpp
  src/sapling/address.cpp
  src/sapling/address.hpp
  src/sapling/key_io_sapling.cpp
  src/sapling/note.cpp
  src/sapling/note.hpp
  src/sapling/noteencryption.cpp
  src/sapling/noteencryption.hpp
  src/sapling/prf.cpp
  src/sapling/prf.h
  src/sapling/sapling_util.cpp
  src/sapling/sapling_util.h
  src/sapling/uint252.h
  src/sapling/zip32.h
  src/test/librust/noteencryption_tests.cpp
  src/test/librust/sapling_rpc_wallet_tests.cpp
  test/functional/sapling_wallet.py
Labels: Cleanup, Sapling

#1991 [Build] Fix a few GA issues
  .github/workflows/build-and-test.yml
  contrib/devtools/lint-whitespace.sh
Labels: Build System

#1987 [Tests] Add sapling_supply functional test
  test/functional/sapling_supply.py
  test/functional/test_runner.py
Labels: Sapling, Tests

#1976 [Consensus] Introduce SPORK_19 and SPORK_20
  src/miner.cpp
  src/net_processing.cpp
  src/qt/walletmodel.cpp
  src/spork.cpp
  src/sporkid.h
  src/validation.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  test/functional/mining_pos_coldStaking.py
  test/functional/sapling_wallet.py
  test/functional/wallet_import_stakingaddress.py
Labels: Cold Staking, Consensus, Sapling

#1979 [Consensus][Validation] Dynamic Fee for Shielded Transactions + Max Size.
  .github/workflows/build-and-test.yml
  .travis.yml
  src/consensus/consensus.h
  src/policy/policy.cpp
  src/policy/policy.h
  src/rpc/rawtransaction.cpp
  src/sapling/sapling_operation.cpp
  src/sapling/sapling_operation.h
  src/sapling/sapling_transaction.h
  src/sapling/transaction_builder.cpp
  src/sapling/transaction_builder.h
  src/test/librust/sapling_wallet_tests.cpp
  src/test/librust/transaction_builder_tests.cpp
  src/validation.cpp
  src/validation.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  test/functional/mining_pos_coldStaking.py
  test/functional/sapling_changeaddresses.py
  test/functional/sapling_key_import_export.py
  test/functional/sapling_wallet.py
  test/functional/sapling_wallet_listreceived.py
  test/functional/sapling_wallet_nullifiers.py
  test/functional/test_runner.py
Labels: Consensus, Mempool, RPC, Sapling, Validation

#1834 CActiveMasternode::ManageStatus remove unneded GetAvailableBalance check
  src/activemasternode.cpp
  src/masternode.cpp
Labels: Cleanup, Masternode

#1989 [Sapling][Bug] Fixing multi-source notes spending
  src/sapling/sapling_operation.cpp
  src/sapling/sapling_operation.h
  test/functional/sapling_wallet.py
Labels: Sapling

#1993 [Validation] v5 zerocoin final deprecation.
  src/validation.cpp
Labels: Validation, zPiv

#1997 [BUG][GUI] CControl: cache utxo amount values properly
  src/qt/coincontroldialog.cpp
Labels: Bug, GUI
