Repository PIVX-Project/PIVX, pull requests merged in 2021-04, with the labels that each got.

#2284 [validation] Removing unneeded block serialization and signal from ABC
  src/guiinterface.h
  src/init.cpp
  src/validation.cpp
Labels: Needs Backport, Needs Release Notes, Refactoring, Validation

#2240 [RPC][wallet] Add `rescanblockchain` RPC command functionality
  src/qt/pivx/settings/settingsbittoolwidget.cpp
  src/rpc/client.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_hd.py
Labels: Needs Release Notes, RPC, Upstream, Wallet

#2290 [Validation][Test] Fix concurrency issues in ActivateBestChain + optimization
  src/Makefile.test.include
  src/blockassembler.h
  src/scheduler.h
  src/test/CMakeLists.txt
  src/test/scheduler_tests.cpp
  src/test/test_pivx.cpp
  src/test/test_pivx.h
  src/test/validation_block_tests.cpp
  src/validation.cpp
  src/validationinterface.cpp
  src/validationinterface.h
Labels: Tests, Upstream, Validation

#2291 [Build] Remove un-used variable
  configure.ac
Labels: Build System, Cleanup

#2289 [Core] Fix several potential issues found by sanitizers
  src/core_io.h
  src/core_read.cpp
  src/pivx-tx.cpp
  src/primitives/transaction.h
  src/rest.cpp
  src/rpc/rawtransaction.cpp
  src/script/interpreter.cpp
  src/script/script.cpp
  src/script/script.h
  src/test/script_tests.cpp
  src/utiltime.cpp
  test/functional/test_framework/script.py
  test/util/data/bitcoin-util-test.json
Labels: Refactoring, Upstream

#2276 [Core] Locked memory manager
  CMakeLists.txt
  src/Makefile.am
  src/Makefile.bench.include
  src/allocators.cpp
  src/allocators.h
  src/bench/lockedpool.cpp
  src/crypter.h
  src/key.h
  src/qt/askpassphrasedialog.h
  src/qt/walletmodel.h
  src/rpc/misc.cpp
  src/sapling/zip32.h
  src/streams.h
  src/support/allocators/secure.h
  src/support/allocators/zeroafterfree.h
  src/support/lockedpool.cpp
  src/support/lockedpool.h
  src/test/allocator_tests.cpp
  src/util.cpp
  src/utilstrencodings.h
Labels: Needs Release Notes, RPC, Refactoring, Upstream, Wallet

#2268 [Core] Store disconnected blocks txes outside mempool during reorg
  src/memusage.h
  src/txmempool.h
  src/validation.cpp
  src/validation.h
Labels: Mempool, Refactoring, Upstream

#2269 [Consensus][Build] v6 Network upgrade - C++14 standard
  CMakeLists.txt
  configure.ac
  src/chainparams.cpp
  src/consensus/params.h
  src/consensus/upgrades.cpp
  src/qt/CMakeLists.txt
  src/spork.cpp
  src/sporkid.h
Labels: Build System, Consensus, Needs Release Notes

#2264 [GUI] fix 'split is deprecated' warnings
  src/qt/guiutil.h
  src/qt/optionsmodel.cpp
Labels: GUI, Upstream

#2277 [RPC] Add `importmulti` RPC command and functional test
  src/chain.cpp
  src/chain.h
  src/rpc/client.cpp
  src/test/skiplist_tests.cpp
  src/validation.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  test/functional/test_runner.py
  test/functional/wallet_importmulti.py
Labels: Needs Release Notes, RPC, Tests, Upstream, Wallet

#2285 [Test] Eliminate race condition in mempool_packages test
  test/functional/mempool_packages.py
Labels: Bug, Tests, Upstream

#2282 [GUI] RPC-Console support nested commands and simple value queries
  src/Makefile.qt.include
  src/qt/CMakeLists.txt
  src/qt/pivx/settings/settingsconsolewidget.cpp
  src/qt/pivx/settings/settingsconsolewidget.h
  src/qt/rpcconsole.cpp
  src/qt/rpcconsole.h
  src/qt/rpcexecutor.cpp
  src/qt/rpcexecutor.h
  src/rpc/blockchain.cpp
Labels: GUI, Needs Release Notes, Upstream, Usability

#2256 [Backport] Serialization updates
  src/addrman.h
  src/bench/crypto_hash.cpp
  src/chain.h
  src/coins.h
  src/compressor.h
  src/hash.h
  src/primitives/block.h
  src/protocol.h
  src/rpc/blockchain.cpp
  src/script/bitcoinconsensus.cpp
  src/script/script.h
  src/serialize.h
  src/streams.h
  src/test/addrman_tests.cpp
  src/test/script_tests.cpp
  src/test/serialize_tests.cpp
  src/txdb.cpp
  src/txdb.h
  src/undo.h
Labels: Refactoring, Upstream

#2257 [Backport] Ensure tried collisions resolve, and allow feeler connections to existing outbound netgroups
  src/addrman.cpp
  src/addrman.h
  src/net.cpp
Labels: P2P, Refactoring, Upstream

#2283 [RPC] `getwalletinfo`: Add last_processed_block return value.
  src/wallet/rpcwallet.cpp
  test/functional/mining_pos_coldStaking.py
  test/functional/mining_pos_reorg.py
  test/functional/sapling_wallet_anchorfork.py
  test/functional/wallet_basic.py
Labels: Needs Backport, Needs Release Notes, RPC

#2302 [RPC] Return command name with 'Method not found' errors
  src/rpc/mining.cpp
  src/rpc/server.cpp
  test/functional/wallet_disable.py
Labels: RPC, Usability

#2251 [validation] Crash if disconnecting a block fails
  src/validation.cpp
  test/functional/feature_abortnode.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
Labels: Tests, Upstream, Validation

#2295 [Net_Processing] Cleaner block processing workflow
  src/blockassembler.cpp
  src/blocksignature.cpp
  src/blocksignature.h
  src/net_processing.cpp
  src/primitives/block.h
  src/test/main_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Needs Backport, Refactoring, Validation

#2215 [GUI] Automatically set the lowest possible Custom Fee when user provided fee is too low
  src/qt/pivx/sendcustomfeedialog.cpp
Labels: Feature Request, GUI, Needs Backport

#2253 [Refactor] Wallet db keys enum + old CWalletKey removal.
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Refactoring, Wallet

#2306 [GUI] if the custom fee is disabled, use minimum required fee
  src/qt/pivx/sendcustomfeedialog.cpp
Labels: GUI, Needs Backport

#2279 [RPC][Test] Fix wallet_import_rescan
  src/chain.h
  src/net.cpp
  src/qt/rpcconsole.cpp
  src/rpc/misc.cpp
  src/utiltime.cpp
  src/utiltime.h
  src/validation.cpp
  src/validation.h
  src/wallet/rpcdump.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  test/functional/test_runner.py
  test/functional/wallet_import_rescan.py
  test/functional/wallet_importmulti.py
Labels: Bug, Tests, Upstream, Wallet

#2305 [GUI] Show the window when double clicking the taskbar icon
  src/qt/pivx/pivxgui.cpp
Labels: Bug, GUI, Upstream, Windows

#2260 [GUI] Generate FAQ answer content programmatically
  src/qt/pivx/settings/forms/settingsfaqwidget.ui
  src/qt/pivx/settings/settingsfaqwidget.cpp
  src/qt/pivx/settings/settingsfaqwidget.h
Labels: GUI, Refactoring

#2281 [Wallet] Improve rescan API + avoid permanent locks during RescanFromTime
  src/pivxd.cpp
  src/qt/pivx/settings/settingsbittoolwidget.cpp
  src/util.cpp
  src/validation.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: RPC, Refactoring, Upstream, Wallet

#2271 [DB] Introduce EVO database
  CMakeLists.txt
  src/Makefile.am
  src/budget/budgetproposal.cpp
  src/budget/budgetproposal.h
  src/budget/finalizedbudget.h
  src/dbwrapper.h
  src/evo/evodb.cpp
  src/evo/evodb.h
  src/init.cpp
  src/masternode-payments.h
  src/test/test_pivx.cpp
  src/validation.cpp
  test/functional/test_framework/test_framework.py
Labels: Masternode, Refactoring, UTXO DBs and Indexes, Upstream Dash

#2241 [wallet] Conflicted transactions external listeners notification fix
  src/init.cpp
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/test/librust/sapling_wallet_tests.cpp
  src/test/policyestimator_tests.cpp
  src/test/test_pivx.cpp
  src/test/validation_block_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqnotificationinterface.h
  test/functional/feature_notifications.py
Labels: Refactoring, Upstream, Validation, Wallet

#2294 [Sapling][Refactoring] Save wallet reference inside SaplingOperation
  src/qt/addresstablemodel.cpp
  src/qt/transactiontablemodel.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/sapling/sapling_operation.cpp
  src/sapling/sapling_operation.h
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_sapling_transactions_validations_tests.cpp
Labels: Refactoring, Sapling, Wallet

#2278 [Refactor] Update RNG code from upstream
  CMakeLists.txt
  build-aux/m4/l_socket.m4
  configure.ac
  contrib/devtools/test_deterministic_coverage.sh
  src/Makefile.am
  src/Makefile.bench.include
  src/addrman.cpp
  src/addrman.h
  src/bench/chacha20.cpp
  src/compat/cpuid.h
  src/crypto/chacha20.cpp
  src/crypto/chacha20.h
  src/crypto/sha512.h
  src/init.cpp
  src/libzerocoin/bignum_gmp.cpp
  src/net.cpp
  src/net_processing.cpp
  src/qt/winshutdownmonitor.cpp
  src/random.cpp
  src/random.h
  src/randomenv.cpp
  src/randomenv.h
  src/scheduler.cpp
  src/sync.cpp
  src/test/DoS_tests.cpp
  src/test/addrman_tests.cpp
  src/test/bloom_tests.cpp
  src/test/crypto_tests.cpp
  src/test/cuckoocache_tests.cpp
  src/test/random_tests.cpp
  src/test/test_pivx.cpp
  src/test/test_pivx.h
  src/util.cpp
  src/wallet/wallet.cpp
Labels: Refactoring, Upstream, Util / log / libs

#2293 [GUI][Refactoring] Constrain direct wallet access from the GUI in a single place
  src/Makefile.qt.include
  src/qt/CMakeLists.txt
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
  src/qt/optionsdialog.h
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/qt/pivx/coldstakingmodel.cpp
  src/qt/pivx/masternodeswidget.cpp
  src/qt/pivx/masternodewizarddialog.cpp
  src/qt/pivx/mnmodel.cpp
  src/qt/pivx/mnmodel.h
  src/qt/pivx/pivxgui.cpp
  src/qt/pivx/sendconfirmdialog.cpp
  src/qt/pivx/settings/forms/settingsmultisenddialog.ui
  src/qt/pivx/settings/forms/settingsmultisendwidget.ui
  src/qt/pivx/settings/forms/settingswidget.ui
  src/qt/pivx/settings/settingsbittoolwidget.cpp
  src/qt/pivx/settings/settingsmultisenddialog.cpp
  src/qt/pivx/settings/settingsmultisenddialog.h
  src/qt/pivx/settings/settingsmultisendwidget.cpp
  src/qt/pivx/settings/settingsmultisendwidget.h
  src/qt/pivx/settings/settingssignmessagewidgets.cpp
  src/qt/pivx/settings/settingswalletoptionswidget.cpp
  src/qt/pivx/settings/settingswalletoptionswidget.h
  src/qt/pivx/settings/settingswidget.cpp
  src/qt/pivx/settings/settingswidget.h
  src/qt/pivx/splash.cpp
  src/qt/pivx/topbar.h
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: GUI, Refactoring, Wallet

#2301 [net_processing] Improve/upgrade orphan transactions handling
  src/net_processing.cpp
  src/net_processing.h
  src/test/DoS_tests.cpp
Labels: Network, Refactoring, Upstream

#2307 [Build] Don't explicitly include generated moc file
  src/qt/pivx/settings/settingsconsolewidget.cpp
  src/qt/rpcexecutor.cpp
Labels: Build System

#2319 [Cleanup] Remove obsolete --printstakemodifier startup option
  doc/release-notes.md
  src/chain.cpp
  src/legacy/stakemodifier.cpp
  src/wallet/wallet.cpp
Labels: Cleanup, Util / log / libs

#2312 Increase LevelDB max_open_files unless on 32-bit Unix.
  src/dbwrapper.cpp
Labels: Resource usage, Upstream

#2286 [GUI] Remove BIP70
  .github/workflows/build-and-test.yml
  CMakeLists.txt
  configure.ac
  contrib/pivxd.bash-completion
  depends/config.site.in
  depends/packages/native_protobuf.mk
  depends/packages/openssl.mk
  depends/packages/packages.mk
  depends/packages/protobuf.mk
  depends/packages/qt.mk
  doc/REST-interface.md
  doc/build-osx.md
  doc/build-unix.md
  doc/build-windows.md
  doc/dependencies.md
  share/qt/Info.plist.in
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.qt.include
  src/Makefile.qttest.include
  src/Makefile.test.include
  src/chainparams.h
  src/chainparamsbase.h
  src/compat/byteswap.h
  src/qt/CMakeLists.txt
  src/qt/forms/openuridialog.ui
  src/qt/networkstyle.h
  src/qt/openuridialog.cpp
  src/qt/openuridialog.h
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/qt/paymentrequest.proto
  src/qt/paymentrequestplus.cpp
  src/qt/paymentrequestplus.h
  src/qt/paymentserver.cpp
  src/qt/paymentserver.h
  src/qt/pivx.cpp
  src/qt/pivx/send.cpp
  src/qt/pivx/sendmultirow.cpp
  src/qt/test/paymentrequestdata.h
  src/qt/test/paymentservertests.cpp
  src/qt/test/paymentservertests.h
  src/qt/test/test_main.cpp
  src/qt/utilitydialog.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/qt/walletmodeltransaction.h
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/test/CMakeLists.txt
Labels: Build System, GUI

#2304 Addrdb code deduplication + Native support for FLATDATA + Add file syncing logging and error handling
  src/addrdb.cpp
  src/addrdb.h
  src/budget/budgetdb.cpp
  src/masternode-payments.cpp
  src/masternodeman.cpp
  src/netaddress.h
  src/protocol.h
  src/script/keyorigin.h
  src/serialize.h
  src/test/net_tests.cpp
  src/test/serialize_tests.cpp
  src/test/streams_tests.cpp
  src/util.cpp
  src/util.h
  src/validation.cpp
Labels: Docs and Output, Refactoring, Upstream, Util / log / libs

#2322 [Trivial] Move evodb_cache Memory Usage logging
  src/validation.cpp
Labels: Trivial, Util / log / libs

#2325 [Trivial] fix indenting and code styling in netaddress.h/.cpp
  src/netaddress.cpp
  src/netaddress.h
Labels: Trivial

#2321 [GUI] Fix Cold Staking address list
  src/qt/pivx/coldstakingwidget.cpp
Labels: Bug, GUI, Needs Backport

#2327 [BUG] Fix crash when sending shield notes from the GUI with coin control
  src/sapling/saplingscriptpubkeyman.cpp
  src/test/librust/sapling_wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Bug, Needs Backport, Sapling, Tests, Wallet

#2335 [GUI] Update translations for 5.1.0
  .tx/config
  src/qt/locale/pivx_de.ts
  src/qt/locale/pivx_en.ts
  src/qt/locale/pivx_en_US.ts
  src/qt/locale/pivx_es.ts
  src/qt/locale/pivx_es_ES.ts
  src/qt/locale/pivx_fr_FR.ts
  src/qt/locale/pivx_hr_HR.ts
  src/qt/locale/pivx_it.ts
  src/qt/locale/pivx_ko_KR.ts
  src/qt/locale/pivx_nl.ts
  src/qt/locale/pivx_pl.ts
  src/qt/locale/pivx_ru.ts
  src/qt/locale/pivx_tr.ts
  src/qt/locale/pivx_zh_CN.ts
  src/qt/pivxstrings.cpp
Labels: GUI

#2313 [Test] Expand dbwrapper unit test coverage
  src/chain.cpp
  src/test/dbwrapper_tests.cpp
Labels: Refactoring, Tests, Upstream

#2328 Always flush block and undo when switching to new file
  src/validation.cpp
Labels: Block Storage, Upstream

#2288 [Cleanup] Remove deprecated OpenSSL Bignum support
  CMakeLists.txt
  build-aux/m4/gmp.m4
  configure.ac
  src/Makefile.am
  src/libzerocoin/bignum.cpp
  src/libzerocoin/bignum.h
  src/libzerocoin/bignum_gmp.cpp
  src/libzerocoin/bignum_openssl.cpp
  src/qt/CMakeLists.txt
  src/test/CMakeLists.txt
Labels: Build System, Cleanup

#2324 [Core] Network specific configuration sections
  doc/release-notes.md
  src/chainparamsbase.cpp
  src/chainparamsbase.h
  src/httprpc.cpp
  src/init.cpp
  src/pivx-cli.cpp
  src/pivx-tx.cpp
  src/pivxd.cpp
  src/qt/guiutil.cpp
  src/qt/pivx.cpp
  src/rpc/protocol.cpp
  src/test/util_tests.cpp
  src/util.cpp
  src/util.h
  test/functional/feature_config_args.py
  test/functional/rpc_users.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
Labels: RPC, Refactoring, Tests, Upstream, Util / log / libs

#2340 [BugFix] Fixing sapling_wallet.py getshieldbalance race condition.
  test/functional/sapling_wallet.py
Labels: Tests

#2342 [Build] Bump master to 5.1.99
  build-aux/snap/snapcraft.yaml
  configure.ac
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
Labels: Build System, Trivial

#2332 [CMake] Add hints path for user-installed cargo bindir
  CMakeLists.txt
Labels: Build System, Trivial

#2344 [Doc] Save historical release notes for v5.1.0
  doc/release-notes/release-notes-5.1.0.md
Labels: Docs and Output, NoFunctionalChanges, Trivial

#2348 [Cleanup] Cleaning unused gitian fingerprints.
  contrib/gitian-keys/keys.txt
Labels: Build System, Cleanup, NoFunctionalChanges, Trivial

#2350 [build] depends macOS: point --sysroot to SDK
  depends/builders/darwin.mk
Labels: Build System, Upstream, macOS

#2343 [Util] Remove boost program_options dependency
  .github/workflows/build-and-test.yml
  CMakeLists.txt
  build-aux/m4/ax_boost_program_options.m4
  build-aux/snap/snapcraft.yaml
  configure.ac
  depends/packages/boost.mk
  src/test/CMakeLists.txt
  src/util.cpp
Labels: Refactoring, Upstream, Util / log / libs

#2329 [Depends] Bump miniupnpc to 2.2.2
  depends/packages/miniupnpc.mk
  depends/patches/miniupnpc/dont_leak_info.patch
  doc/dependencies.md
Labels: Build System, Upstream

#2353 [GUI] Add search option to My Addresses list in receive widget (PicklesRcool)
  src/qt/pivx/forms/receivewidget.ui
  src/qt/pivx/receivewidget.cpp
  src/qt/pivx/receivewidget.h
Labels: GUI, Usability
