Repository PIVX-Project/PIVX, pull requests merged in 2021-03, with the labels that each got.

#2214 [Tests] Fix various things -fsanitize complains about
  src/script/script.h
  src/test/net_tests.cpp
  src/test/scriptnum_tests.cpp
  src/wallet/test/wallet_tests.cpp
Labels: Refactoring, Tests, Upstream

#2224 Removing `TX_ZEROCOINMINT` and `ScriptPubKeyToJSON`
  src/core_write.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/script/ismine.cpp
  src/script/sign.cpp
  src/script/standard.cpp
  src/script/standard.h
Labels: Cleanup, RPC, zPiv

#2223 [BUG] Fix some chainstate-init-order bugs
  src/init.cpp
  src/test/test_pivx.cpp
  src/validation.cpp
  src/validation.h
Labels: Bug, Refactoring, Startup, Upstream

#2221 [test] updating rpc_invalidateblock.py to latest upstream.
  test/functional/rpc_invalidateblock.py
Labels: Tests, Upstream

#2227 [build] fixing gitian build fail with checksum mismatch
  contrib/gitian-build.py
  contrib/gitian-descriptors/gitian-win-signer.yml
  doc/release-process.md
Labels: Build System, Upstream

#2230 [GA] Dont run the feature_dbcrash test in GA
  .github/workflows/build-and-test.yml
Labels: Build System, Tests

#2232 [Wallet] Berkeley DB v6 compatibility fix
  src/wallet/db.cpp
Labels: Bug, Build System, Upstream, Wallet

#2231 [Doc] More Descriptive Budget RPCs
  src/rpc/budget.cpp
Labels: Docs and Output, RPC

#2225 [wallet] Rescan chain for wallet transactions process re-written
  src/wallet/wallet.cpp
Labels: Wallet

#2228 Fixing few shutdown problems
  src/init.cpp
  src/qt/pivx.cpp
  src/qt/pivx/topbar.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
Labels: Bug, GUI, Startup, Upstream

#2229 [GUI] Transaction filter, minimize model data request + cleanup.
  src/qt/pivx/settings/settingsexportcsv.cpp
  src/qt/transactionfilterproxy.cpp
  src/qt/transactionfilterproxy.h
  src/qt/transactionrecord.cpp
  src/qt/transactionrecord.h
  src/qt/transactiontablemodel.cpp
  src/qt/transactiontablemodel.h
Labels: Cleanup, GUI

#2235 [Test] address.py: fix invalid `keyhash_to_p2pkh()`
  test/functional/test_framework/address.py
Labels: Bug, Tests

#2209 Killing wallet and GUI cs_main locks
  src/consensus/tx_verify.cpp
  src/consensus/tx_verify.h
  src/init.cpp
  src/interfaces/wallet.cpp
  src/interfaces/wallet.h
  src/masternode-sync.cpp
  src/masternode-sync.h
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/qt/coincontroldialog.h
  src/qt/macnotificationhandler.mm
  src/qt/pivx.cpp
  src/qt/pivx/coldstakingwidget.cpp
  src/qt/pivx/coldstakingwidget.h
  src/qt/pivx/dashboardwidget.cpp
  src/qt/pivx/dashboardwidget.h
  src/qt/pivx/loadingdialog.h
  src/qt/pivx/mnmodel.cpp
  src/qt/pivx/pwidget.cpp
  src/qt/pivx/send.cpp
  src/qt/pivx/send.h
  src/qt/pivx/settings/settingsinformationwidget.cpp
  src/qt/pivx/topbar.cpp
  src/qt/transactionrecord.cpp
  src/qt/transactionrecord.h
  src/qt/transactiontablemodel.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/sapling/saplingscriptpubkeyman.cpp
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/test/librust/sapling_wallet_tests.cpp
  src/test/librust/utiltest.cpp
  src/test/librust/utiltest.h
  src/validation.cpp
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_shielded_balances_tests.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqnotificationinterface.h
  test/functional/sapling_wallet_listreceived.py
  test/functional/test_runner.py
  test/functional/wallet_abandonconflict.py
  test/functional/wallet_reorgsrestore.py
Labels: GUI, Wallet

#2243 [Protocol] Block version 9
  src/blockassembler.cpp
  src/primitives/block.h
  src/wallet/test/wallet_shielded_balances_tests.cpp
Labels: Consensus

#2244 [GUI] Pre-5.1 make translate
  src/qt/locale/pivx_en.ts
  src/qt/pivxstrings.cpp
Labels: GUI

#2226 [Refactoring] Prune invalid UTXOs from the coins cache
  src/Makefile.am
  src/chainparams.cpp
  src/coins.cpp
  src/coins.h
  src/consensus/params.h
  src/consensus/tx_verify.cpp
  src/consensus/tx_verify.h
  src/init.cpp
  src/invalid.cpp
  src/invalid.h
  src/invalid_outpoints.json.h
  src/invalid_serials.json.h
  src/qt/walletmodel.cpp
  src/test/coins_tests.cpp
  src/test/sighash_tests.cpp
  src/test/transaction_tests.cpp
  src/test/validation_tests.cpp
  src/validation.cpp
  src/validation.h
  src/wallet/test/wallet_sapling_transactions_validations_tests.cpp
Labels: Refactoring, UTXO DBs and Indexes, Validation

#2246 [Util] Pass pthread_self() to pthread_setschedparam instead of 0
  src/util.cpp
Labels: Bug, Linux/Unix, Needs Backport, Util / log / libs

#2249 [Qt] Make box of PIVX Send address return to purple when it's empty
  src/qt/pivx/sendmultirow.cpp
Labels: Bug, GUI, Needs Backport

#2247 [Qt] Fix double fade-in Topbar Available click animation. Issue 2216
  src/qt/pivx/balancebubble.cpp
Labels: Bug, GUI, Needs Backport

#2237 [GUI] Set fee to highest possible if input is too big
  src/qt/pivx/sendcustomfeedialog.cpp
Labels: GUI, Needs Backport

#2254 [Tests] sync_blocks and sync_mempool improvements
  doc/REST-interface.md
  src/init.cpp
  src/rpc/blockchain.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/validation.cpp
  src/validation.h
  test/functional/example_test.py
  test/functional/feature_fee_estimation.py
  test/functional/feature_reindex.py
  test/functional/mempool_packages.py
  test/functional/mempool_persist.py
  test/functional/mining_pos_coldStaking.py
  test/functional/mining_pos_fakestake.py
  test/functional/mining_pos_reorg.py
  test/functional/p2p_feefilter.py
  test/functional/p2p_sendheaders.py
  test/functional/p2p_unrequested_blocks.py
  test/functional/rpc_getchaintips.py
  test/functional/rpc_invalidateblock.py
  test/functional/sapling_fillblock.py
  test/functional/sapling_mempool.py
  test/functional/sapling_wallet.py
  test/functional/sapling_wallet_anchorfork.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
  test/functional/tiertwo_masternode_activation.py
  test/functional/tiertwo_masternode_ping.py
  test/functional/wallet_abandonconflict.py
  test/functional/wallet_backup.py
  test/functional/wallet_basic.py
  test/functional/wallet_bumpfee.py
  test/functional/wallet_import_rescan.py
  test/functional/wallet_import_stakingaddress.py
  test/functional/wallet_keypool_topup.py
  test/functional/wallet_listreceivedby.py
  test/functional/wallet_listsinceblock.py
  test/functional/wallet_listtransactions.py
  test/functional/wallet_reorgsrestore.py
  test/functional/wallet_txn_clone.py
  test/functional/wallet_txn_doublespend.py
  test/functional/wallet_zapwallettxes.py
Labels: Needs Release Notes, RPC, Tests, Upstream

#2259 [GUI] fix QT 5.15 `currentIndexChanged(QString)` obsolete method call.
  src/qt/pivx/dashboardwidget.cpp
Labels: GUI

#2262 [docs] add reduce-memory.md
  doc/README.md
  doc/reduce-memory.md
Labels: Docs and Output, Needs Backport, Upstream

#2263 [Depends] Prune un-necessary X packages
  .gitignore
  build-aux/m4/bitcoin_qt.m4
  contrib/devtools/symbol-check.py
  depends/packages/libX11.mk
  depends/packages/libXext.mk
  depends/packages/libxcb.mk
  depends/packages/packages.mk
  depends/packages/qt.mk
  depends/packages/xextproto.mk
  depends/packages/xtrans.mk
  depends/patches/qt/no-xlib.patch
Labels: Build System
