Repository PIVX-Project/PIVX, pull requests merged in 2021-05, with the labels that each got.

#2299 [wallet] Remove now unneeded stake P2PKH->P2PK output forced conversion
  src/stakeinput.cpp
  src/stakeinput.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zpiv/zpos.h
Labels: Block Generation, Refactoring, Wallet

#2326 [Test][Misc] Fix libsecp256k1 init for unit test setup + Allow to specify blocks storage directory
  doc/release-notes.md
  src/dbwrapper.cpp
  src/init.cpp
  src/qt/intro.cpp
  src/qt/pivx.cpp
  src/test/test_pivx.cpp
  src/test/test_pivx.h
  src/test/validation_block_tests.cpp
  src/util.cpp
  src/util.h
  src/validation.cpp
  src/validation.h
  src/wallet/db.cpp
  test/functional/feature_blocksdir.py
  test/functional/test_runner.py
Labels: Block Storage, Refactoring, Tests, Upstream, Util / log / libs

#2346 [QA] Test suite update + P2P invalid blocks and invalid tx functional tests coverage.
  src/chainparams.cpp
  src/chainparams.h
  src/init.cpp
  src/validation.cpp
  src/validation.h
  test/functional/p2p_invalid_block.py
  test/functional/p2p_invalid_tx.py
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
  test/functional/test_runner.py
Labels: Tests, Upstream

#2274 [Consensus][Refactoring] Blocks v10: TierTwo payments in the coinbase transaction
  src/blockassembler.cpp
  src/budget/budgetmanager.cpp
  src/budget/budgetmanager.h
  src/chainparams.cpp
  src/consensus/params.h
  src/evo/deterministicmns.cpp
  src/kernel.cpp
  src/masternode-payments.cpp
  src/masternode-payments.h
  src/masternodeman.cpp
  src/masternodeman.h
  src/primitives/block.h
  src/primitives/transaction.h
  src/rpc/masternode.cpp
  src/spork.cpp
  src/spork.h
  src/stakeinput.cpp
  src/stakeinput.h
  src/test/budget_tests.cpp
  src/validation.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zpiv/zpos.h
Labels: Budget/Proposal System, Consensus, Masternode, Refactoring

#2365 [BugFix] Fix failing p2p_invalid_block.py.
  test/functional/p2p_invalid_block.py
Labels: Bug, Tests

#2320 [Cleanup] Remove zerocoin mints databasing
  src/legacy/validation_zerocoin_legacy.cpp
  src/txdb.cpp
  src/txdb.h
  src/validation.cpp
Labels: Cleanup, zPiv

#2300 [Util] Time utility updates
  configure.ac
  doc/release-notes.md
  src/Makefile.bench.include
  src/bench/util_time.cpp
  src/init.cpp
  src/logging.cpp
  src/net.cpp
  src/test/util_tests.cpp
  src/utiltime.cpp
  src/utiltime.h
  src/validation.cpp
  src/wallet/rpcdump.cpp
  src/wallet/wallet.cpp
  test/functional/combine_logs.py
  test/functional/test_framework/test_framework.py
Labels: Upstream, Util / log / libs

#2311 [Cleanup] Remove zc PrivateCoin and Accumulator classes
  CMakeLists.txt
  src/Makefile.am
  src/consensus/zerocoin_verify.cpp
  src/libzerocoin/Accumulator.cpp
  src/libzerocoin/Accumulator.h
  src/libzerocoin/Coin.cpp
  src/libzerocoin/Coin.h
  src/libzerocoin/CoinSpend.cpp
  src/libzerocoin/CoinSpend.h
  src/libzerocoin/bignum.cpp
  src/libzerocoin/bignum.h
  src/libzerocoin/paramgen.cpp
  src/zpiv/zpivmodule.cpp
  src/zpiv/zpivmodule.h
Labels: Cleanup, zPiv

#2364 [Test] Coverage for zc transactions rejection in mempool and blocks.
  src/test/validation_tests.cpp
  src/validation.cpp
Labels: Tests

#2366 [test] validation_block_tests: Correcting BOOST_ASSERT_MSG usage for dynamic messages.
  src/test/validation_block_tests.cpp
Labels: Bug, Tests

#2357 [build] Allow export of environ symbols
  contrib/devtools/symbol-check.py
Labels: Build System, Upstream

#2296 [RPC] Provider-Register transactions
  CMakeLists.txt
  src/Makefile.am
  src/activemasternode.cpp
  src/chainparams.cpp
  src/consensus/params.h
  src/evo/deterministicmns.cpp
  src/evo/providertx.cpp
  src/masternode.cpp
  src/masternode.h
  src/masternodeman.cpp
  src/qt/pivx/masternodewizarddialog.cpp
  src/rpc/masternode.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/register.h
  src/rpc/rpcevo.cpp
  src/test/evo_deterministicmns_tests.cpp
  src/wallet/wallet.cpp
  test/functional/test_framework/test_framework.py
  test/functional/tiertwo_masternode_activation.py
  test/functional/tiertwo_masternode_ping.py
Labels: Masternode, RPC

#2367 [BUG][Tests] mining_pos_* tests calling `generate()` or `generate_pow()`
  test/functional/mining_pos_coldStaking.py
  test/functional/mining_pos_reorg.py
Labels: Bug, Tests

#2368 [Rand] Use thread-safe atomic in perfmon seeder
  src/randomenv.cpp
Labels: Upstream, Util / log / libs, Windows

#2370 [GA] Workaround missing apt dependency
  .github/workflows/build-and-test.yml
Labels: Build System, High Priority, Trivial

#2248 [RPC] refactor autocombine into specific commands
  doc/release-notes.md
  src/rpc/client.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  test/functional/test_runner.py
  test/functional/wallet_autocombine.py
Labels: RPC

#2258 [Script] Fix "split P2CS" vulnerability
  src/script/interpreter.cpp
  src/script/script.cpp
  src/script/script.h
  src/test/script_P2CS_tests.cpp
  src/validation.cpp
Labels: Bug, Cold Staking, Tests

#2330 [Net] Drop support of the insecure miniUPnPc versions
  configure.ac
  contrib/cmake/FindMiniupnp.cmake
  doc/release-notes.md
  src/net.cpp
Labels: Network, P2P, Upstream

#2331 [Depends] Bump boost to 1.71.0 and optimize flow
  Makefile.am
  depends/Makefile
  depends/hosts/default.mk
  depends/packages/boost.mk
  depends/packages/native_b2.mk
  depends/packages/packages.mk
  doc/dependencies.md
Labels: Build System, Upstream

#2314 [Refactoring] Completed migration of uint* classes to blob
  CMakeLists.txt
  src/Makefile.am
  src/arith_uint256.cpp
  src/arith_uint256.h
  src/bip38.cpp
  src/blob_uint256.cpp
  src/blob_uint256.h
  src/budget/budgetproposal.h
  src/budget/finalizedbudget.cpp
  src/budget/finalizedbudget.h
  src/chain.h
  src/chainparams.cpp
  src/coincontrol.h
  src/hash.h
  src/kernel.cpp
  src/legacy/stakemodifier.cpp
  src/legacy/validation_zerocoin_legacy.cpp
  src/libzerocoin/Coin.cpp
  src/libzerocoin/CoinSpend.cpp
  src/libzerocoin/ParamGeneration.cpp
  src/libzerocoin/ParamGeneration.h
  src/libzerocoin/bignum.cpp
  src/libzerocoin/bignum.h
  src/masternode.cpp
  src/masternode.h
  src/masternodeman.cpp
  src/miner.cpp
  src/pow.cpp
  src/pow.h
  src/qt/coincontroldialog.cpp
  src/qt/pivx/masternodeswidget.cpp
  src/qt/pivx/mnmodel.cpp
  src/rpc/mining.cpp
  src/sapling/proof.h
  src/sapling/zip32.h
  src/test/librust/pedersen_hash_tests.cpp
  src/test/pmt_tests.cpp
  src/test/skiplist_tests.cpp
  src/test/transaction_tests.cpp
  src/test/uint256_tests.cpp
  src/uint256.cpp
  src/uint256.h
  src/uint512.h
  src/wallet/rpcwallet.cpp
  src/zpiv/zpos.cpp
Labels: Refactoring, Upstream

#2362 [Refactoring] Move automatic-wallet-backup code out of init.cpp
  src/init.cpp
  src/qt/pivx/pivxgui.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: Refactoring, Startup, Wallet

#2339 [Bugfix] the end of a reorged chain is invalid when connect fails
  src/validation.cpp
Labels: Upstream, Validation

#2356 [Tests][Refactoring] Remove mocked budget manager in budget_tests
  src/budget/budgetmanager.cpp
  src/budget/budgetmanager.h
  src/spork.cpp
  src/spork.h
  src/test/budget_tests.cpp
Labels: Refactoring, Tests

#2275 [Consensus] New cold-staking opcode
  doc/release-notes.md
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/sapling/sapling_operation.h
  src/script/interpreter.cpp
  src/script/interpreter.h
  src/script/script.cpp
  src/script/script.h
  src/script/standard.cpp
  src/script/standard.h
  src/test/script_P2CS_tests.cpp
  src/validation.cpp
  src/wallet/rpcwallet.cpp
  test/functional/mining_pos_coldStaking.py
Labels: Cold Staking, Consensus

#2374 [Backport] Fix memory leaks in qt/guiutil.cpp
  src/qt/guiutil.cpp
Labels: GUI, Upstream, macOS

#2352 [Refactor] Remove OpenSSL
  .github/workflows/build-and-test.yml
  CMakeLists.txt
  build-aux/snap/snapcraft.yaml
  configure.ac
  depends/packages/openssl.mk
  depends/packages/packages.mk
  doc/build-osx.md
  doc/build-unix.md
  doc/dependencies.md
  doc/release-notes.md
  libbitcoinconsensus.pc.in
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.qt.include
  src/Makefile.qttest.include
  src/Makefile.test.include
  src/bip38.cpp
  src/bip38.h
  src/crypto/scrypt.cpp
  src/hash.h
  src/init.cpp
  src/key.h
  src/libzerocoin/bignum.cpp
  src/qt/CMakeLists.txt
  src/qt/pivx/settings/settingsconsolewidget.cpp
  src/random.cpp
  src/random.h
  src/randomenv.cpp
  src/sapling/crypter_sapling.cpp
  src/test/CMakeLists.txt
  src/test/sanity_tests.cpp
  src/utilstrencodings.cpp
  src/utilstrencodings.h
  test/functional/rpc_bip38.py
Labels: Build System, Cleanup, Refactoring, Upstream, Util / log / libs

#2297 [RPC] Implement generatetoaddress RPC command
  src/miner.cpp
  src/miner.h
  src/rpc/client.cpp
  src/rpc/mining.cpp
Labels: RPC, Upstream

#2379 [BugFix] fix "not updating GUI balance" race condition.
  src/qt/walletmodel.cpp
Labels: Bug, GUI

#2384 [depends] update Qt 5.9 source url
  depends/packages/qt.mk
Labels: Build System

#2377 [BugFix][GUI] Fix minimize and close bugs
  src/qt/pivx/pivxgui.cpp
Labels: GUI, Upstream

#2383 [BUG][QA] Use generate_pos() after POW phase end in mining_pos_fakestake
  test/functional/mining_pos_fakestake.py
Labels: Bug, Tests

#2389 [Build] Clean coverage files from budget and evo paths
  src/Makefile.am
Labels: Build System, Trivial

#2317 [RPC] Add query options to listunspent rpc call.
  doc/release-notes.md
  src/rpc/client.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/wallet_basic.py
Labels: RPC, Upstream

#2360 [Tests] Resurrect feature_block and kill the p2p comparison test framework
  src/blockassembler.cpp
  src/blockassembler.h
  src/chainparams.cpp
  src/consensus/params.h
  src/consensus/tx_verify.cpp
  src/miner.cpp
  src/pow.cpp
  src/qt/pivx/send.cpp
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/rpc/mining.cpp
  src/sapling/transaction_builder.cpp
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/test/librust/sapling_test_fixture.cpp
  src/test/librust/sapling_test_fixture.h
  src/test/miner_tests.cpp
  src/test/script_P2CS_tests.cpp
  src/test/test_pivx.cpp
  src/test/test_pivx.h
  src/test/validation_block_tests.cpp
  src/test/validation_tests.cpp
  src/validation.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/wallet_sapling_transactions_validations_tests.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_test_fixture.h
  test/functional/README.md
  test/functional/feature_block.py
  test/functional/p2p_invalid_block.py
  test/functional/p2p_invalid_tx.py
  test/functional/sapling_wallet.py
  test/functional/test_framework/blockstore.py
  test/functional/test_framework/blocktools.py
  test/functional/test_framework/comptool.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/mininode.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_runner.py
Labels: Refactoring, Tests, Upstream

#2337 [Wallet] Basic multiwallet support
  doc/developer-notes.md
  doc/release-notes.md
  src/budget/budgetmanager.cpp
  src/init.cpp
  src/masternode.cpp
  src/miner.cpp
  src/qt/pivx.cpp
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/budget.cpp
  src/rpc/masternode.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/rpcevo.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/librust/sapling_rpc_wallet_tests.cpp
  src/test/librust/sapling_test_fixture.cpp
  src/test/librust/sapling_test_fixture.h
  src/test/librust/sapling_wallet_tests.cpp
  src/test/librust/transaction_builder_tests.cpp
  src/test/librust/utiltest.cpp
  src/test/librust/utiltest.h
  src/test/librust/wallet_zkeys_tests.cpp
  src/test/miner_tests.cpp
  src/test/validation_tests.cpp
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/rpcwallet.h
  src/wallet/test/wallet_sapling_transactions_validations_tests.cpp
  src/wallet/test/wallet_shielded_balances_tests.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_test_fixture.h
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: RPC, Upstream, Wallet

#2393 [BUG][QA] Don't switch to POS in feature_fee_estimation
  test/functional/feature_fee_estimation.py
Labels: Bug, Tests

#2390 [BUG][Tests] Properly set temporary datadir for dbwrapper_basic_data
  src/test/dbwrapper_tests.cpp
Labels: Bug, Tests

#2392 [Trivial][RPC] Remove compiler warning in autocombinerewards and update help text
  src/wallet/rpcwallet.cpp
Labels: Trivial

#2395 [budget] partially fixing a race condition that could cause a good peer to be banned
  src/budget/budgetmanager.cpp
Labels: Budget/Proposal System, Bug, Masternode

#2361 [P2P][Bug] Fix expected disconnections after not-connectable block
  src/net_processing.cpp
  src/validation.cpp
  test/functional/feature_block.py
Labels: Bug, P2P

#2388 [GUI] Ensure that all UI error/warning texts pass through translation
  src/init.cpp
  src/wallet/db.cpp
  src/wallet/wallet.cpp
  test/functional/feature_uacomment.py
Labels: GUI

#2309 [Consensus] New masternode payment logic
  src/blockassembler.cpp
  src/blockassembler.h
  src/masternode-payments.cpp
  src/spork.cpp
  src/test/evo_deterministicmns_tests.cpp
  src/test/test_pivx.cpp
Labels: Consensus, Masternode, Upstream Dash

#2308 [Consensus] Compatibility code for MN payments + budget voting
  src/activemasternode.cpp
  src/activemasternode.h
  src/budget/budgetmanager.cpp
  src/budget/budgetmanager.h
  src/masternode-payments.cpp
  src/masternode-payments.h
  src/masternode-sync.cpp
  src/masternode-sync.h
  src/masternode.cpp
  src/masternode.h
  src/masternodeman.cpp
  src/masternodeman.h
  src/messagesigner.cpp
  src/net_processing.cpp
  src/rpc/budget.cpp
  src/rpc/client.cpp
  src/rpc/masternode.cpp
  src/rpc/rpcevo.cpp
  src/tiertwo_networksync.cpp
  test/functional/test_framework/messages.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
  test/functional/tiertwo_governance_sync_basic.py
  test/functional/tiertwo_masternode_activation.py
  test/functional/tiertwo_mn_compatibility.py
Labels: Budget/Proposal System, Consensus, Masternode

#2272 [Depends] Update macOS cross-compiling toolchain
  .github/workflows/build-and-test.yml
  contrib/gitian-build.py
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/macdeploy/README.md
  contrib/macdeploy/custom_dsstore.py
  contrib/macdeploy/gen-sdk
  contrib/macdeploy/macdeployqtplus
  depends/Makefile
  depends/README.md
  depends/builders/darwin.mk
  depends/config.guess
  depends/config.site.in
  depends/config.sub
  depends/funcs.mk
  depends/hosts/darwin.mk
  depends/packages/native_biplist.mk
  depends/packages/native_cctools.mk
  depends/packages/native_ds_store.mk
  depends/packages/native_libdmg-hfsplus.mk
  depends/packages/packages.mk
  depends/packages/qt.mk
  depends/patches/native_libdmg-hfsplus/remove-libcrypto-dependency.patch
  depends/patches/qt/fix_qpainter_non_determinism.patch
  depends/patches/qt/mac-qmake.conf
  doc/build-osx.md
  doc/release-notes.md
  share/qt/Info.plist.in
Labels: Build System, macOS

#2399 [Refactor] One CBaseChainParams should be enough
  src/chainparamsbase.cpp
  src/chainparamsbase.h
Labels: Refactoring, Upstream

#2373 [Refactor] Combine scriptPubKey and amount as CTxOut in CScriptCheck
  src/test/script_P2SH_tests.cpp
  src/test/transaction_tests.cpp
  src/validation.cpp
  src/validation.h
Labels: Refactoring, Upstream, Validation

#2252 Fuzzing framework support
  .gitignore
  .travis/test_04_install.sh
  .travis/test_06_script_b.sh
  Makefile.am
  configure.ac
  doc/README.md
  doc/developer-notes.md
  doc/fuzzing.md
  src/Makefile.test.include
  src/test/fuzz/deserialize.cpp
  src/test/fuzz/fuzz.cpp
  src/test/fuzz/fuzz.h
  src/test/fuzz/transaction.cpp
  test/config.ini.in
  test/fuzz/test_runner.py
Labels: Tests, Upstream

#2345 [TierTwo] Masternode collateral auto-locking + more tests
  src/evo/deterministicmns.cpp
  src/evo/deterministicmns.h
  src/evo/providertx.cpp
  src/evo/providertx.h
  src/init.cpp
  src/test/evo_deterministicmns_tests.cpp
  src/test/test_pivx.cpp
  src/test/test_pivx.h
  src/tiertwo_networksync.cpp
  src/validation.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/functional/test_framework/messages.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/util.py
  test/functional/test_runner.py
  test/functional/tiertwo_deterministicmns.py
  test/functional/tiertwo_reorg_mempool.py
Labels: Masternode, Tests, Validation, Wallet

#2398 [wallet] Kill AvailableCoinsType enum
  src/qt/walletmodel.cpp
  src/rpc/masternode.cpp
  src/sapling/sapling_operation.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Cleanup, Wallet

#2401 [GUI] BugFix, disappearing text in comboboxes.
  src/qt/pivx/dashboardwidget.cpp
  src/qt/pivx/qtutils.cpp
  src/qt/pivx/qtutils.h
  src/qt/pivx/res/css/style_dark.css
  src/qt/pivx/res/css/style_light.css
Labels: Bug, GUI
