Repository PIVX-Project/PIVX, pull requests merged in 2021-09, with the labels that each got.

#2533 [scripted-diff] Rename wallet database classes
  src/qt/walletmodel.cpp
  src/sapling/sapling_operation.cpp
  src/sapling/saplingscriptpubkeyman.cpp
  src/test/librust/wallet_zkeys_tests.cpp
  src/wallet/db.cpp
  src/wallet/db.h
  src/wallet/init.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/scriptpubkeyman.cpp
  src/wallet/scriptpubkeyman.h
  src/wallet/test/pos_test_fixture.cpp
  src/wallet/test/wallet_sapling_transactions_validations_tests.cpp
  src/wallet/test/wallet_shielded_balances_tests.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/wallet_multiwallet.py
  test/lint/commit-script-check.sh
Labels: Upstream, Refactoring, Wallet

#2525 [Build] Get rid of CLIENT_DATE
  .gitignore
  share/genbuild.sh
  src/clientversion.cpp
  src/clientversion.h
  src/init.cpp
  src/obj/.gitignore
  src/qt/clientmodel.cpp
  src/qt/clientmodel.h
  src/qt/forms/rpcconsole.ui
  src/qt/rpcconsole.cpp
  src/wallet/rpcdump.cpp
Labels: Build System, Upstream

#2530 [GUI][BUG] remove duplicated coll. confirmation check in MNModel::data
  src/qt/pivx/mnmodel.cpp
Labels: GUI, Bug

#2537 [Doc] Reset release-notes.md template for 5.4
  doc/release-notes.md
  doc/release-notes/draft-release-notes-6.0.0.md
Labels: Documentation

#2540 [RPC][Doc] Fix RPC/cli example in setautocombinethreshold help
  src/wallet/rpcwallet.cpp
Labels: RPC, Docs and Output, NoFunctionalChanges

#2491 [GUI] Translation cleanup
  doc/man/pivx-cli.1
  doc/man/pivx-qt.1
  doc/man/pivx-tx.1
  doc/man/pivxd.1
  share/qt/Info.plist.in
  src/Makefile.qt.include
  src/chainparamsbase.cpp
  src/clientversion.cpp
  src/clientversion.h
  src/init.cpp
  src/net.cpp
  src/pivx-cli-res.rc
  src/pivx-cli.cpp
  src/pivx-tx.cpp
  src/pivxd-res.rc
  src/pivxd.cpp
  src/qt/askpassphrasedialog.cpp
  src/qt/forms/helpmessagedialog.ui
  src/qt/forms/intro.ui
  src/qt/intro.cpp
  src/qt/locale/pivx_en.ts
  src/qt/pivx.cpp
  src/qt/pivx/forms/welcomecontentwidget.ui
  src/qt/pivx/pivxgui.cpp
  src/qt/pivx/settings/settingsfaqwidget.cpp
  src/qt/pivx/settings/settingsmainoptionswidget.cpp
  src/qt/pivx/splash.cpp
  src/qt/pivx/welcomecontentwidget.cpp
  src/qt/pivxstrings.cpp
  src/qt/res/pivx-qt-res.rc
  src/qt/utilitydialog.cpp
  src/timedata.cpp
  src/wallet/init.cpp
  src/wallet/wallet.cpp
Labels: GUI, Docs and Output

#2541 [Gitian][Bug] Ignore changes to relic_conf.h.in
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
Labels: Build System, Bug

#2546 [Snap] Fix nightly build's genbuild.sh patch
  build-aux/snap/local/patches/X003-fix-use-snap-instead-of-dirty.patch
Labels: Build System

#2493 Locked memory manager updates
  .github/workflows/build-and-test.yml
  src/support/allocators/secure.h
  src/support/lockedpool.cpp
  src/support/lockedpool.h
  src/test/allocator_tests.cpp
Labels: Upstream, Refactoring, Tests, Resource usage

#2549 [Validation] Remove temporary guard for 5.3 rules pre-enforcement
  src/masternode-payments.cpp
  src/masternode.cpp
  src/masternodeman.cpp
  src/net_processing.cpp
  src/test/budget_tests.cpp
  src/validation.cpp
Labels: Validation, Cleanup

#2547 [Util] Replace LogPrintf (but not LogPrint) macro with regular function
  src/logging.h
Labels: Upstream, Refactoring, Util / log / libs

#2545 [Util] Better URL validation
  src/test/util_tests.cpp
  src/utilstrencodings.cpp
  src/utilstrencodings.h
  test/functional/rpc_budget.py
Labels: Refactoring, Util / log / libs

#2552 [Validation] Restore pre-v5.3 guard for under-minting blocks rule
  src/masternode-payments.cpp
  src/test/budget_tests.cpp
Labels: Bug, Validation

#2494 [Test] BIP62 rule 6 added + script tests updates
  CMakeLists.txt
  src/Makefile.am
  src/Makefile.test.include
  src/bench/crypto_hash.cpp
  src/coins.cpp
  src/coins.h
  src/consensus/tx_verify.h
  src/core_write.cpp
  src/crypto/siphash.cpp
  src/crypto/siphash.h
  src/destination_io.h
  src/hash.cpp
  src/hash.h
  src/net.h
  src/policy/policy.cpp
  src/policy/policy.h
  src/saltedhasher.h
  src/script/interpreter.cpp
  src/script/script.h
  src/script/script_error.h
  src/script/standard.cpp
  src/script/standard.h
  src/test/CMakeLists.txt
  src/test/data/script_invalid.json
  src/test/data/script_tests.json
  src/test/data/script_valid.json
  src/test/hash_tests.cpp
  src/test/script_P2SH_tests.cpp
  src/test/script_tests.cpp
  src/test/transaction_tests.cpp
  src/txmempool.h
  src/undo.h
Labels: Upstream, Validation, Refactoring, Tests

#2553 [BUG] Spork signer doesn't persist new spork value to DB
  src/spork.cpp
  src/spork.h
Labels: RPC, Bug

#2420 [BLS] Add wrapper around chiabls lib, worker, benchmarks and unit tests
  CMakeLists.txt
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.test.include
  src/bench/bench_pivx.cpp
  src/bench/bls.cpp
  src/bench/bls_dkg.cpp
  src/bench/ecdsa.cpp
  src/bls/bls_ies.cpp
  src/bls/bls_ies.h
  src/bls/bls_worker.cpp
  src/bls/bls_worker.h
  src/bls/bls_wrapper.cpp
  src/bls/bls_wrapper.h
  src/ctpl.h
  src/init.cpp
  src/logging.cpp
  src/logging.h
  src/support/allocators/mt_pooled_secure.h
  src/support/allocators/pooled_secure.h
  src/test/CMakeLists.txt
  src/test/bls_tests.cpp
  src/test/test_pivx.cpp
  src/util/threadnames.cpp
  src/util/threadnames.h
  src/validation.cpp
Labels: Tests, Util / log / libs, Upstream Dash

#2557 [Trivial] Update labelSubtitleAddress text in send widget ui
  src/qt/pivx/forms/send.ui
Labels: GUI, NoFunctionalChanges, Trivial

#2559 [BUG][TierTwo] Clear fulfilled requests when mnsync fails
  src/masternode-sync.cpp
Labels: Bug, Masternode

#2551 [BUG][GUI] Fix random double/triple transaction record issue
  src/qt/transactiontablemodel.cpp
Labels: GUI, Bug

#2560 [Bug][TierTwo] Mark peer sync request msg fulfilled only if the broadcast was performed
  src/masternode-sync.cpp
Labels: Bug, Masternode

#2562 [Consensus] Add checkpoints before v5.3.1 release
  src/chainparams.cpp
Labels: Consensus

#2555 [GUI] Fix not visible contacts list for shield/CS addrs
  src/qt/addresstablemodel.cpp
  src/qt/addresstablemodel.h
  src/qt/pivx/addresseswidget.cpp
  src/qt/pivx/addresseswidget.h
  src/qt/pivx/addressfilterproxymodel.cpp
  src/qt/pivx/addressfilterproxymodel.h
  src/qt/pivx/addresslabelrow.cpp
  src/qt/pivx/addresslabelrow.h
  src/qt/pivx/myaddressrow.cpp
  src/qt/pivx/myaddressrow.h
  src/qt/pivx/receivedialog.cpp
  src/qt/pivx/receivedialog.h
  src/qt/pivx/receivewidget.cpp
  src/qt/pivx/receivewidget.h
  src/qt/pivx/requestdialog.cpp
  src/qt/pivx/requestdialog.h
Labels: GUI, Bug

#2566 [Doc] v5.3.1 release-notes.
  doc/release-notes/release-notes-5.3.1.md
Labels: Documentation

#2554 [TierTwo] Unify MNs info gathering into a single getMNsInfo() call
  src/blockassembler.cpp
  src/masternodeman.cpp
  src/masternodeman.h
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/rpc/masternode.cpp
Labels: RPC, Refactoring, Masternode

#2548 [Util] Add validation interface logging
  CMakeLists.txt
  src/Makefile.am
  src/blockassembler.cpp
  src/budget/budgetmanager.cpp
  src/budget/budgetvote.h
  src/budget/finalizedbudgetvote.h
  src/evo/deterministicmns.cpp
  src/logging.cpp
  src/logging.h
  src/masternode.h
  src/messagesigner.cpp
  src/messagesigner.h
  src/net_processing.cpp
  src/primitives/block.h
  src/qt/pivx/settings/settingssignmessagewidgets.cpp
  src/rpc/budget.cpp
  src/rpc/misc.cpp
  src/rpc/rpcevo.cpp
  src/util/blockstatecatcher.h
  src/util/validation.cpp
  src/util/validation.h
  src/validation.cpp
  src/validation.h
  src/validationinterface.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  test/functional/mining_pos_coldStaking.py
Labels: Upstream, Validation, Util / log / libs

#2534 [GUI] Add address search option in cold-staking widget
  src/qt/pivx/coldstakingwidget.cpp
  src/qt/pivx/coldstakingwidget.h
  src/qt/pivx/forms/coldstakingwidget.ui
  src/qt/pivx/receivewidget.cpp
Labels: Feature Request, GUI, Usability

#2558 Cleaning unused code
  src/coins.h
  src/dbwrapper.h
  src/httpserver.cpp
  src/key.cpp
  src/key.h
  src/pivx-tx.cpp
  src/rpc/server.h
  src/test/key_tests.cpp
  src/test/script_tests.cpp
Labels: Upstream, Cleanup

#2556 [Refactor] Remove code duplication in sign/verify message rpc/gui
  src/qt/pivx/settings/settingssignmessagewidgets.cpp
  src/rpc/misc.cpp
  src/wallet/rpcwallet.cpp
Labels: RPC, GUI, Refactoring, NoFunctionalChanges

#2574 [Validation] Fix AcceptBlock secondary branch validation
  src/validation.cpp
  test/functional/mining_pos_fakestake.py
Labels: Validation

#2569 [Cleanup] Remove and deglobalize system.h global variables.
  src/activemasternode.cpp
  src/budget/budgetmanager.h
  src/init.cpp
  src/pivxd.cpp
  src/util/system.cpp
  src/util/system.h
Labels: Cleanup
