Repository PIVX-Project/PIVX, pull requests merged in 2022-11, with the labels that each got.

#2772 bugfix new block reward payment and verification
  src/masternode-payments.cpp
  src/masternode-payments.h
Labels: Bug, Needs Backport

#2774 add include_delegated to vRPCConvertParams
  src/rpc/client.cpp
Labels: RPC, Bug, Needs Backport

#2779 rpc: Backport getblock verbosity
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/server.cpp
  test/functional/rpc_blockchain.py
Labels: RPC, Upstream, Needs Backport

#2780 RPC: Backport scantxoutset from BitCoin Core v0.17.2
  CMakeLists.txt
  src/Makefile.am
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/script/descriptor.cpp
  src/script/descriptor.h
  src/script/sign.cpp
  src/script/sign.h
  test/functional/rpc_scantxoutset.py
  test/functional/test_runner.py
Labels: RPC, Upstream, Needs Backport

#2781 [Consensus] Set v5.5 activation height for mainnet
  src/chainparams.cpp
Labels: Needs Backport, Consensus
