Repository PIVX-Project/PIVX, pull requests merged in 2022-02, with the labels that each got.

#2732 RPC: Remove cs_main lock from blockToJSON, blockHeaderToJSON and TxToJSON
  src/rest.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
Labels: RPC, Refactoring

#2733 Bech32 export/import encoding format for BLS keys
  CMakeLists.txt
  src/Makefile.am
  src/activemasternode.cpp
  src/bls/bls_wrapper.h
  src/bls/key_io.cpp
  src/bls/key_io.h
  src/chainparams.cpp
  src/chainparams.h
  src/evo/deterministicmns.cpp
  src/evo/providertx.cpp
  src/llmq/quorums_blockprocessor.cpp
  src/llmq/quorums_commitment.cpp
  src/rpc/rpcevo.cpp
  src/test/bls_tests.cpp
  test/functional/p2p_quorum_connect.py
  test/functional/test_framework/messages.py
  test/functional/test_framework/util.py
Labels: Util / log / libs

#2734 [RPC] Consistently use ParseHashV to validate hash inputs in rpc
  src/rpc/blockchain.cpp
  src/rpc/budget.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/server.cpp
  src/wallet/rpcwallet.cpp
  test/functional/rpc_blockchain.py
  test/functional/rpc_rawtransaction.py
Labels: RPC, Upstream, Refactoring

#2735 Further TierTwo init encapsulation, '-evodir' resync bugfix and more circ dependencies fixes
  src/init.cpp
  src/masternode.cpp
  src/pivxd.cpp
  src/qt/pivx.cpp
  src/tiertwo/init.cpp
  src/tiertwo/init.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  test/lint/lint-circular-dependencies.sh
Labels: Refactoring, Masternode

#2740 [Lint] Introduce lint-includes.sh script
  src/bench/bench.h
  src/bench/bench_pivx.cpp
  src/qt/pivx/settings/settingssignmessagewidgets.cpp
  src/test/fuzz/deserialize.cpp
  src/test/reverselock_tests.cpp
  src/test/scheduler_tests.cpp
  src/test/torcontrol_tests.cpp
  src/torcontrol.cpp
  test/lint/lint-includes.sh
Labels: Scripts and Tools, Upstream, Refactoring, Tests

#2686 [TierTwo] Introduce network requests manager
  CMakeLists.txt
  src/Makefile.am
  src/Makefile.test.include
  src/chainparams.cpp
  src/chainparams.h
  src/init.cpp
  src/masternode-payments.cpp
  src/masternode-sync.cpp
  src/net.h
  src/test/CMakeLists.txt
  src/test/netfulfilledman_tests.cpp
  src/tiertwo/init.cpp
  src/tiertwo/init.h
  src/tiertwo/netfulfilledman.cpp
  src/tiertwo/netfulfilledman.h
Labels: Network

#2739 Guard "-maxconnections" arg if the node is a Masternode.
  src/tiertwo/init.cpp
Labels: Masternode

#2722 Long Living Masternode Quorums - Part 3, DKG
  CMakeLists.txt
  src/Makefile.am
  src/activemasternode.h
  src/bls/bls_worker.cpp
  src/chainparams.cpp
  src/cxxtimer.hpp
  src/evo/deterministicmns.cpp
  src/evo/evonotificationinterface.cpp
  src/evo/mnauth.cpp
  src/evo/specialtx_validation.cpp
  src/llmq/quorums_connections.cpp
  src/llmq/quorums_connections.h
  src/llmq/quorums_debug.cpp
  src/llmq/quorums_debug.h
  src/llmq/quorums_dkgsession.cpp
  src/llmq/quorums_dkgsession.h
  src/llmq/quorums_dkgsessionhandler.cpp
  src/llmq/quorums_dkgsessionhandler.h
  src/llmq/quorums_dkgsessionmgr.cpp
  src/llmq/quorums_dkgsessionmgr.h
  src/llmq/quorums_init.cpp
  src/llmq/quorums_utils.cpp
  src/llmq/quorums_utils.h
  src/logging.cpp
  src/logging.h
  src/net.cpp
  src/net_processing.cpp
  src/protocol.cpp
  src/protocol.h
  src/random.cpp
  src/random.h
  src/rpc/client.cpp
  src/rpc/misc.cpp
  src/rpc/register.h
  src/rpc/rpcquorums.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/test/evo_deterministicmns_tests.cpp
  src/tiertwo/net_masternodes.cpp
  src/tiertwo/net_masternodes.h
  src/tiertwo_networksync.cpp
  src/util/system.h
  test/functional/p2p_quorum_connect.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
  test/functional/tiertwo_dkg_errors.py
  test/functional/tiertwo_dkg_pose.py
  test/lint/lint-circular-dependencies.sh
Labels: RPC, P2P, Masternode, Upstream Dash

#2746 Fix mnconnect missing parameter and rename cxxtimer.hpp
  src/Makefile.am
  src/cxxtimer.h
  src/llmq/quorums_dkgsession.cpp
  src/rpc/misc.cpp
Labels: RPC, Trivial

#2741 [RPC] Enable v6.0 commands and remove 'deterministic' flag from initmasternode command
  src/rpc/masternode.cpp
  src/rpc/rpcevo.cpp
  src/tiertwo/init.cpp
  test/functional/test_framework/test_framework.py
  test/functional/tiertwo_deterministicmns.py
  test/functional/tiertwo_mn_compatibility.py
Labels: RPC, Masternode

#2736 [wallet] fix ATMP call not contemplating the "missing inputs" error
  src/wallet/wallet.cpp
Labels: Wallet

#2742 Fix DMN operator connectivity check and local address lookup
  src/activemasternode.cpp
  src/activemasternode.h
  src/net.cpp
  src/net.h
  src/netbase.cpp
  src/netbase.h
Labels: Bug, Masternode

#2744 [LLMQ][BugFix] Fix infinite loop in quorum relay members selection algorithm
  src/Makefile.test.include
  src/llmq/quorums_connections.cpp
  src/llmq/quorums_connections.h
  src/llmq/quorums_dkgsession.cpp
  src/llmq/quorums_dkgsessionhandler.cpp
  src/llmq/quorums_dkgsessionhandler.h
  src/llmq/quorums_dkgsessionmgr.h
  src/test/CMakeLists.txt
  src/test/net_quorums_tests.cpp
Labels: Bug, Masternode

#2745 Error out at startup if there was an internal problem during DMN init
  src/activemasternode.cpp
  src/init.cpp
  src/masternode-payments.cpp
  src/net.cpp
  src/tiertwo/init.cpp
Labels: Masternode
