Repository PIVX-Project/PIVX, pull requests merged in 2023-03, with the labels that each got.

#2799 [Build] Bump master to 5.5.99 (pre-6.0)
  build-aux/snap/snapcraft.yaml
  configure.ac
Labels: Build System, Trivial

#2816 [Build] Fix build with configure flag --enable-mining-rpc
  src/rpc/mining.cpp
Labels: Build System, Bug

#2758 [Build] Update httpserver.cpp
  src/httpserver.cpp
Labels: Build System, Bug

#2817 [GA] Bump GA linux workers to Ubuntu 20.04
  .github/workflows/build-and-test.yml
  CMakeLists.txt
  src/bench/CMakeLists.txt
  src/test/CMakeLists.txt
Labels: Build System

#2812 [Wallet] Fix AutoCombineDust and improve setautocombinethreshold
  src/rpc/client.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  test/functional/rpc_deprecated.py
  test/functional/wallet_autocombine.py
Labels: Wallet

#2809 [Tier Two] Pre dip7 upgrade
  CMakeLists.txt
  src/Makefile.am
  src/evo/evonotificationinterface.cpp
  src/llmq/quorums.cpp
  src/llmq/quorums.h
  src/llmq/quorums_connections.cpp
  src/llmq/quorums_connections.h
  src/llmq/quorums_init.cpp
  src/rpc/client.cpp
  src/rpc/rpcquorums.cpp
  src/tiertwo/net_masternodes.cpp
  src/tiertwo/net_masternodes.h
  test/lint/lint-circular-dependencies.sh
Labels: Masternode

#2821 [Build] Disable libsep256k1's openssl tests
  configure.ac
Labels: Build System

#2826 [Depends] Bump zlib to v1.2.13
  depends/packages/zlib.mk
Labels: Build System
