Repository PIVX-Project/PIVX, pull requests merged in 2023-07, with the labels that each got.

#2872 [Depends] Bump Rust toolchain to 1.69.0
  .github/workflows/build-and-test.yml
  configure.ac
  contrib/devtools/README.md
  contrib/devtools/security-check.py
  contrib/devtools/symbol-check.py
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
  depends/packages/gmp.mk
  depends/packages/native_rust.mk
  rust-toolchain
  src/Makefile.am
Labels: High Priority, Build System, Scripts and Tools, Needs Release Notes

#2855 Delete redundant util/fetch-params.sh
  src/init.cpp
  util/fetch-params.sh
Labels: Scripts and Tools, Trivial

#2859 [GUI] CoinControl Change
  src/coincontrol.h
  src/qt/pivx/send.cpp
  src/qt/pivx/sendchangeaddressdialog.cpp
  src/qt/pivx/sendchangeaddressdialog.h
  src/sapling/sapling_operation.cpp
Labels: GUI, Bug, Sapling
