Repository PIVX-Project/PIVX, pull requests merged in 2024-03, with the labels that each got.

#2911 [GA] Use new versioned qt@5 homebrew package name
  .github/workflows/build-and-test.yml
  CMakeLists.txt
  doc/build-osx.md
Labels: Build System, macOS, Trivial

#2909 [Trivial] Fix typo reccomended->recommended
  src/rpc/blockchain.cpp
Labels: Trivial

#2912 [Build] Bump master to 5.6.99
  build-aux/snap/snapcraft.yaml
  configure.ac
Labels: Build System, NoFunctionalChanges, Trivial

#2914 [Test] Speed up functional tests
  test/functional/p2p_invalid_messages.py
  test/functional/test_framework/test_framework.py
  test/functional/test_framework/test_node.py
  test/functional/test_framework/util.py
Labels: Tests

#2919 [Bug] Fix data race
  src/wallet/wallet.cpp
Labels: Bug

#2915 [Test] [DMNs] Split special transaction validation
  src/Makefile.test.include
  src/evo/providertx.cpp
  src/evo/providertx.h
  src/evo/specialtx_validation.cpp
  src/evo/specialtx_validation.h
  src/test/CMakeLists.txt
  src/test/data/specialtx_invalid.json
  src/test/data/specialtx_valid.json
  src/test/evo_specialtx_tests.cpp
Labels: Refactoring, Tests
