Repository PIVX-Project/PIVX, pull requests merged in 2024-08, with the labels that each got.

#2928 [Build] Autotools quoting and spacing cleanup
  build-aux/m4/bitcoin_find_bdb48.m4
  build-aux/m4/bitcoin_qt.m4
  build-aux/m4/gmp.m4
  configure.ac
Labels: Build System, NoFunctionalChanges

#2932 [Bug] Exit early for budget submission when the wallet is locked
  src/budget/budgetmanager.cpp
Labels: Bug

#2921 Dash llmq backports
  src/llmq/quorums_signing.cpp
  src/llmq/quorums_signing.h
  src/llmq/quorums_signing_shares.cpp
  src/llmq/quorums_signing_shares.h
  src/netmessagemaker.h
Labels: Masternode, Upstream Dash

#2887 [Wallet] Some sapling wallet improvements
  src/qt/addresstablemodel.cpp
  src/sapling/saplingscriptpubkeyman.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Wallet, Sapling

#2934 [GA] Resolve latest macos-14 runner build failures
  .github/workflows/build-and-test.yml
  build-aux/m4/bitcoin_qt.m4
  src/qt/notificator.cpp
Labels: Build System
